@import "/src/styles/Variables.scss";

.question-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 64px;
    &:last-child {
        margin-bottom: 0;
    }
}
.question-number {
    color: #8892b0;
    width: 24px;
    margin-right: 32px;
}
.question {
    width: 100%;
    label {
        display: block;
        margin-block-end: 0.5em;
        font-size: $font-size-21;
        color: #ffffff;
    }
    input, textarea {
        display: block;
        width: 100%;
        padding: 0.5em;
        border: none;
        border-bottom: 1px solid #5691B3;
        background-color: transparent;
        color: #ffffff;
    }
    .dropdown {
        position: relative;
        cursor: pointer;
        user-select: none;
    }
    .dropdown-header {
        display: flex;
        padding: 0.5em;
        border-block-end: 1px solid #ffffff;
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        &.default-prompt {
            color: #8892b0;
        }
        &.selected-prompt {
            color: #ffffff;
        }
    }
    .dropdown-list {
        position: absolute;
        width: 100%;
        border-top: none;
        background-color: #0a192f;
        color: #ffffff;
        padding-left: 0;
        z-index: 100;
        margin-top: -2px;
    }
    .dropdown-list-item {
        list-style: none;
        padding: 10px;
        &:hover {
            border-bottom: #ffffff 1px solid;
        }
    }
    .arrow {
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .arrow.open {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .input::placeholder {
        color: #8892b0;
    }
    .textarea::placeholder {
        color: #8892b0;
    }
}

// .question input::placeholder {
// color: #8892b0; /* Couleur pour le texte du placeholder */
// }

// .question input:focus {
// outline: none; /* Enlever l'outline lors du focus */
// border-bottom-color: #64ffda; /* Changer la couleur de la bordure inférieure lors du focus */
// }

