@import "/src/styles/Mixins.scss";

.testimonial {
    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 48px;
        width: 472px;
        margin-bottom: 90px;
        &:nth-child(odd) {@include light-gradient;}
        &:nth-child(even) {@include dark-gradient;}
        &:nth-child(2) {
            position: absolute;
            top: -96px;
            left: 50%;
            transform: translate(-50%, 0%);
            z-index: 1;
        }
    }
    &__icon {
        margin-bottom: 32px;
    }
    &__text {
        margin-bottom: 32px;
        text-align: center;
        opacity: .5;
    }
    &__user {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: -92px;
    }
    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 5rem;
        margin-bottom: 16px;
    }
    &__name {
        font-size: 24px;

    }
    &__job {
        opacity: .5;
    }
}