logs
.bsp
conf/overrides.conf
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/*.ipr
/*.iws
.DS_Store
/node_modules
/public/css/main.css
/public/css/main.css.map
