<IfModule mod_rewrite.c>
    RewriteEngine On
    # Serve the directory if it exists
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Redirect all other requests to index.html
    RewriteRule ^ index.html [L]
</IfModule>
  