@import "/src/styles/Variables.scss";

.text-small {
    font-size: $font-size-16;
    color: $lightGray;
}
.text-medium {
    font-size: $font-size-18;
    color: $lightGray;
}
.text-large {
    font-size: $font-size-22;
    color: $lightGray;
}

