@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.article {
    .blog {
        &__content {
            @include tablet {padding: 64px;}
            @include phone-portrait {
                display: flex;
                flex-direction: column-reverse;
            }

            .blog-header {
                padding-bottom: 32px;
            }
        }
        &__cover {
            height: 320px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                @include tablet {grid-column: span 12;}
                @include phone-portrait {
                    grid-column: span 12;
                }
            }
        }
    }
}