@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.article {
    .blog {
        &__content {
            @include tablet {padding: 64px;}
            @include phone-portrait {
                display: flex;
                flex-direction: column-reverse;
            }

            .blog-header {
                padding-bottom: 32px;
            }
        }
        &__img {
            height: 100%;
            background-size: cover;
            border-radius: 10px;
            grid-column: span 6;
            @include tablet {grid-column: span 12;}
            @include phone-portrait {
                grid-column: span 12;
            }
        }
    }
}