@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.service-card {
    @include flexbox;
    flex-direction: column;
    @include dark-gradient;
    padding: 48px 24px;
    margin: 20px 0;
    gap: 16px;
    &__icon {
        background: $blue;
        color: #78B4D7;
        margin-bottom: 32px;
        padding: 24px;
    }
    &__title {
        font-size: 24px;
    }
    &__text {
        opacity: .5;
    }
}
@media only screen and (min-width: 768px){
    .service-card {
        
    }
}