@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.service-card {
    &__icon {
        background: $blue;
        color: #78B4D7;
        margin-bottom: 32px;
        padding: 24px;
    }
    &__title {
        font-size: $font-size-600;
        margin-bottom: 16px;
    }
    &__text {
        opacity: .5;
        margin-bottom: 16px;
    }
}