.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    width: 100%;
}

.homeBtn{
    margin-inline-end: 40px;
    background-color: rgb(221, 15, 38);
    border-color: rgb(221, 15, 38);
}