@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.header-page {
    position: relative;
    background: $bgMediumBlue;
    padding: 96px;
    border-radius: 24px;
    justify-content: space-between;
    @include flexbox;
    @include phone-portrait {
        padding: 220px 24px 24px 24px;
    }
    &__content {
        width: 70%;
        @include phone-portrait {
            width: 100%;
        }
    }
    &__img {
        width: 440px;
        position: absolute;
        right: 100px;
        top: -200px;
    }
}