@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.businessCard {
    @include flexbox;
    padding: 48px;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
        @include dark-gradient;
        .icon__img {
            transform: scale(1.1);
            animation: bounce 0.6s ease;
        }
    }
    &__icon {
        @include flexbox;
        justify-content: center;
        background: linear-gradient(to bottom, $blue, $blue) padding-box,
                    linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
        border: 1px solid transparent;
        border-radius: 25rem;
        width: 96px;
        height: 96px;
        margin-right: 32px;
    }
    img {
        width: 32px;
        height: 32px;
    }
    &__content {
        width: calc(100% - 128px);
    }
}

@keyframes bounce {
    0%, 100% {
      transform: scale(1); // Start and end at normal size
      animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    }
    15% {
      transform: scale(1.15); // Scale up more than we want to end on for the first bounce
      animation-timing-function: cubic-bezier(0.5, 2, 1, 0.5);
    }
    30% {
      transform: scale(0.95); // Scale down below normal size
      animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    }
    45%, 60% {
      transform: scale(1.05); // Scale a little above normal size
      animation-timing-function: cubic-bezier(0.5, 2, 1, 0.5);
    }
    75% {
      transform: scale(0.98); // Scale down a bit
      animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    }
    90% {
      transform: scale(1.02); // Scale up a tiny bit
      animation-timing-function: cubic-bezier(0.5, 2, 1, 0.5);
    }
  }