@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.businessCard {
    @include flexbox;
    padding: 48px;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
        @include dark-gradient;
        #light {
          animation: glowing 2s infinite;
        }
        #buildingRoof {
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          animation: dash 1s linear forwards;
        }
        #carWaves, #buildingPillar, #bankPillar {
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          animation: dash 2s linear forwards;
        }
        #buildingPillarExt {
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          animation: dash 0.5s linear forwards;
        }
        #buildingFlag {
          animation: putFlag 1s forwards;
        }
        #shield, #bankCoin {
          animation: rotateShield 0.5s forwards;
        }
        #bankRoofTop{
          animation: putFlag 1s forwards;
        }
    }
    &__icon {
        @include flexbox;
        justify-content: center;
        background: linear-gradient(to bottom, $blue, $blue) padding-box,
                    linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
        border: 1px solid transparent;
        border-radius: 25rem;
        width: 96px;
        height: 96px;
        margin-right: 32px;
    }
    svg {
        width: 32px;
        height: 32px;
    }
    &__content {
        width: calc(100% - 128px);
    }
  @include phone-portrait {
      flex-direction: column;
      gap: 20px;
      &__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      div {
          text-align: left;
      }
  }
}
@keyframes putFlag {
  0% {transform: translateY(-100%);}
  25% {transform: translateY(-100%);}
  50% {transform: translateY(-100%);}
  80% {transform: translateY(0%);}
  90% {transform: translateY(-10%);}
  100% {transform: translateY(0%);}
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotateShield {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes constructPillar {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes glowing {
  0%, 100% {
    fill: #780000;
    opacity: 0.5;
  }
  50% {
    fill: #ff0000;
    opacity: 1;
  }
}
