@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.businessCard {
    @include flexbox;
    padding: 48px;
    border: 1px solid transparent;
    &:hover {
        @include dark-gradient;
    }
    &__icon {
        @include flexbox;
        justify-content: center;
        background: linear-gradient(to bottom, $blue, $blue) padding-box,
                    linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
        border: 1px solid transparent;
        border-radius: 25rem;
        width: 96px;
        height: 96px;
        margin-right: 32px;
    }
    &__img {
        width: 32px;
        height: 32px;
    }
    &__content {
        width: calc(100% - 128px);
    }
    &__title {
        font-size: $font-size-500;
        margin-bottom: 8px;
    }
    &__text {
        color: $lightGray;
    }
}