.client {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 48px 0;
    background: linear-gradient(to bottom, #0A1E50, #081A47) padding-box,
                linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        
    }
    img {
        padding: 10px 0;
    }
}

@media only screen and (min-width: 768px){
    .client {
        display: flex;
        justify-content: space-between;
        padding: 48px 50px;
    }
}