.client {
    background: linear-gradient(#0A1E50, #081A47);
    border-top: 1px solid #78B4D7;
    border-bottom: 1px solid #78B4D7;
    padding: 54px 0;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        
    }
}