@import "/src/styles/Responsive.scss";

.container {
    max-width: 1320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include desktop-up {padding: 0 32px;}
    @include phone-landscape {padding: 0 24px;}
}
