@import "/src/styles/Mixins.scss";

.hamburger {
    display: flex;
    align-items: center;
    position: relative;
    pointer-events: auto;
    z-index: 1;
    &__text {
        font-weight: 500;
    }
    &__icon {
        border: none;
        border-radius: 5rem;
        width: 64px;
        height: 64px;
        background: none;
        cursor: pointer;
        transition: 0.5s ease;
        transform: scale(0.5);
        &:hover {
            background: linear-gradient(#DB2777, #E11D48);
            .hamburger__dot {
                &:nth-of-type(1) {animation: flicker 0.4s linear;}
                &:nth-of-type(2) {animation: flicker 0.4s linear 0.05s;}
                &:nth-of-type(3) {animation: flicker 0.4s linear 0.1s;}
            }
        }
        
    }
    &__dot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
        transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0.3s;
        &:nth-of-type(1) {
            transform: translate(calc(-50% - 16px), -50%) rotate(45deg);
        }
        &:nth-of-type(2) {
            transform: translate(-50%, -50%);
            transition: 0.4s ease 0.1s;
        }
        &:nth-of-type(3) {
            transform: translate(calc(-50% + 16px), -50%) rotate(-45deg);
        }
    }
}
.hamburger--active {
    .hamburger__icon {
        transform: rotate(180deg) scale(0.5);
        .hamburger__dot {
            transition: width 0.4s ease 0.3s, height 0.4s ease 0.3s, transform 0.2s ease;
            &:nth-of-type(1) {
                width: 40px;
                height: 4px;
                border-radius: 1rem;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-of-type(2) {
                width: 0;
                height: 0;
            }
            &:nth-of-type(3) {
                width: 40px;
                height: 4px;
                border-radius: 1rem;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
        &:hover {
            .hamburger__dot {animation: none;}
        }
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
        // width: 2rem;
        // height: 2rem;
    }
    50% {
        opacity: 0.2;
        // width: 1.2rem;
        // height: 1.2rem;
    }
    100% {
        opacity: 1;
        // width: 2rem;
        // height: 2rem;
    }
}
