@import "/src/styles/Mixins.scss";

.hamburger {
    display: flex;
    align-items: center;
    position: relative;
    pointer-events: auto;
    z-index: 1;
    &:hover .hamburger__icon {
        background: linear-gradient(#DB2777, #E11D48);

        .hamburger__dot {
            &:nth-of-type(1) {animation: flicker 0.4s linear;}
            &:nth-of-type(2) {animation: flicker 0.4s linear 0.05s;}
            &:nth-of-type(3) {animation: flicker 0.4s linear 0.1s;}
        }
    }
    &__text {
        font-weight: 500;
        background: white;
        background-size: 200% auto;
        background-clip: text;
        text-emphasis-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 1s linear, color 0.5s linear;
    }
    
    &:hover .hamburger__text {
        animation: shine 0.5s linear forwards;
        color: #DB2777; /* Ensure this matches your pink color */
    }
    
    @keyframes shine {
        0% {
            background-image: linear-gradient(90deg, white 0%, #DB2777 50%, #E11D48 60%, white 100%);
            background-position: 0% center;
        }
        25% {
            background-image: linear-gradient(90deg, white 0%, #DB2777 50%, #E11D48 60%, white 100%);
            background-position: 50% center;
        }
        50% {
            background-image: linear-gradient(90deg, white 0%, #DB2777 50%, #E11D48 60%, #DB2777 100%);
            background-position: 100% center;
        }
        75% {
            background-image: linear-gradient(90deg, #DB2777 0%, #DB2777 50%, #E11D48 60%, white 100%);
            background-position: 150% center;
        }
        100% {
            background-image: linear-gradient(90deg, #DB2777 0%, #DB2777 50%, #DB2777 60%, #DB2777 100%);
            background-position: 200% center;
        }
    }
    &__icon {
        border: none;
        border-radius: 5rem;
        width: 64px;
        height: 64px;
        background: none;
        cursor: pointer;
        transition: 0.5s ease;
        transform: scale(0.5);
    }
    &__dot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
        transition: width 0.3s ease 0s, height 0.3s ease 0s, transform 0.3s ease 0.3s;
        &:nth-of-type(1) {
            transform: translate(calc(-50% - 16px), -50%) rotate(45deg);
        }
        &:nth-of-type(2) {
            transform: translate(-50%, -50%);
            transition: 0.4s ease 0.1s;
        }
        &:nth-of-type(3) {
            transform: translate(calc(-50% + 16px), -50%) rotate(-45deg);
        }
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
        // width: 2rem;
        // height: 2rem;
    }
    50% {
        opacity: 0.2;
        // width: 1.2rem;
        // height: 1.2rem;
    }
    100% {
        opacity: 1;
        // width: 2rem;
        // height: 2rem;
    }
}
