@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.language {
    @include flexbox;
    &__text {
        transition-duration: .3s;
        &:hover {color: $pink;}
    }
    &__split {
        border: 1px solid $lightGray;
        width: 24px;
        margin: 0 8px;
    }
}
