$font-src: "@assets/fonts" !default;

@font-face {
    font-family: "Poppins";
    src: url("#{$font-src}/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url("#{$font-src}/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";
    src: url("#{$font-src}/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: url("#{$font-src}/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}
