@mixin flexbox {
    display: flex;
    align-items: center;
}
@mixin grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    width: 100%;
}
@mixin light-gradient {
    background: linear-gradient(to bottom, #0A3269, rgb(10 50 105 / 65%)) padding-box,
                linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
    border: 1px solid transparent;
    border-radius: 16px;
}
@mixin dark-gradient {
    background: linear-gradient(to bottom, #0A1E50, #081A47) padding-box,
                linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
    border: 1px solid transparent;
    border-radius: 16px;
}
@mixin button-border-gradient {
    background: linear-gradient(to bottom, #0A1E50, #0A1E50) padding-box,
                linear-gradient(to bottom, rgb(255 255 255 / 24%), rgb(84 145 179 / 24%)) border-box;
    border: 1px solid transparent;
    border-radius: 12px;
}

@mixin red-title {
    font-weight: 700;
    background: -webkit-linear-gradient(#DB2777, #E11D48);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin hamburger-line {
    width: 4px;
    height: 4px;
    border-radius: 24px;
    background-color: white;
    position: absolute;
}