.dflex {@include flexbox;}
.jc-c {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-sa {justify-content: space-around;}
.mgb270 {margin-bottom: 270px;}
.ta-c {text-align: center;}
.ai-c {align-items: center;}