/* --------------- Flexbox --------------- */
.dflex {@include flexbox;}
.jc-c {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-sa {justify-content: space-around;}
.fd-c {flex-direction: column;}
.ta-c {text-align: center;}
.ai-c {align-items: center;}

/* --------------- Grid --------------- */
.col-lg-6 {
    grid-column: span 6;
    @include phone-landscape {grid-column: span 12;}
}
.col-lg-4 {
    grid-column: span 4;
    @include phone-landscape {grid-column: span 12;}
}
@include tablet {
    .col-md-6 {
        grid-column: span 6;
        @include phone-landscape {grid-column: span 12;}
    }
}
/* --------------- Colors --------------- */
.bg-bgMediumBlue {background: $bgMediumBlue;}
.bg-bgDarkBlue {background: $bgDarkBlue;}

/* --------------- Others --------------- */
.w100 {width: 100%;}
.mw424 {min-width: 424px;}
.mwidthI {min-width: initial;}


/* --------------- Margin --------------- */
.mgt8 {margin-top: 8px}
.mgr8 {margin-right: 8px}
.mgb8 {margin-bottom: 8px}
.mgl8 {margin-left: 8px}

.mgt16 {margin-top: 16px}
.mgr16 {margin-right: 16px}
.mgb16 {margin-bottom: 16px}
.mgl16 {margin-left: 16px}

.mgt24 {margin-top: 24px}
.mgr24 {margin-right: 24px}
.mgb24 {margin-bottom: 24px}
.mgl24 {margin-left: 24px}

.mgt32 {margin-top: 32px}
.mgr32 {margin-right: 32px}
.mgb32 {margin-bottom: 32px}
.mgl32 {margin-left: 32px}

.mgt64 {margin-top: 64px}
.mgr64 {margin-right: 64px}
.mgb64 {margin-bottom: 64px}
.mgl64 {margin-left: 64px}

.mgt128 {margin-top: 128px}
.mgr128 {margin-right: 128px}
.mgb128 {margin-bottom: 128px}
.mgl128 {margin-left: 128px}

/* --------------- Padding --------------- */
.pad48 {padding: 48px;}
.pad96 {
    padding: 96px;
    @include phone-landscape {
        padding: 48px;
    }
}
.pad48-16 {padding: 48px 16px 16px 16px;}
.pdt256 {padding-top: 256px;}
