.dflex {@include flexbox;}
.jc-c {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-sa {justify-content: space-around;}
.mgb270 {margin-bottom: 270px;}
.ta-c {text-align: center;}
.ai-c {align-items: center;}

.mgt8 {margin-top: 8px}
.mgr8 {margin-right: 8px}
.mgb8 {margin-bottom: 8px}
.mgl8 {margin-left: 8px}

.mgt16 {margin-top: 16px}
.mgr16 {margin-right: 16px}
.mgb16 {margin-bottom: 16px}
.mgl16 {margin-left: 16px}

.mgt24 {margin-top: 24px}
.mgr24 {margin-right: 24px}
.mgb24 {margin-bottom: 24px}
.mgl24 {margin-left: 24px}

.mgt32 {margin-top: 32px}
.mgr32 {margin-right: 32px}
.mgb32 {margin-bottom: 32px}
.mgl32 {margin-left: 32px}

.mgt64 {margin-top: 64px}
.mgr64 {margin-right: 64px}
.mgb64 {margin-bottom: 64px}
.mgl64 {margin-left: 64px}

.mgt128 {margin-top: 128px}
.mgr128 {margin-right: 128px}
.mgb128 {margin-bottom: 128px}
.mgl128 {margin-left: 128px}
