// Colors
$lightBlue: #78B4D7;
$blue: #0A3269;
$mediumBlue: #0A1E50;
$darkBlue: #0A1428;
$red: #E62832;
$mediumRed: #AE1920;
$darkRed: #9B1919;
$white: #FFFFFF;
$lightGray: #8D8D8D;
$darkGray: #4A4A4A;
$border: #E7E7E7;

// Fonts
// Warning : 1rem = 10px on this project (Html font-size = 16px, 1 rem = 16px base)
// 10px / 16px for a ratio 1:1 px/rem (without calculation) = 0,625
// Font-size of html element = 62,5% and not 100%

$fs-16: 1.6rem; /* 16px */
$fs-24: 2.4rem; /* 24px */
$fs-32: 3.2rem; /* 32px */
$fs-64: 6.4rem; /* 64px */
$fs-72: 7.2rem; /* 72px */

