// Colors
$lightBlue: #78B4D7;
$blue: #0E2B71;
$mediumBlue: #0A1E50;
$darkBlue: #061332;
$bgMediumBlue: #081840;
$bgDarkBlue: #091B49;
$pink: #DB2777;
$red: #E62832;
$mediumRed: #AE1920;
$darkRed: #9B1919;
$white: #FFFFFF;
$lightGray: #c5c5c5;
$darkGray: #4A4A4A;
$border: #E7E7E7;

// Fonts
$font-size-12: 0.75rem;     /* 12px */
$font-size-16: 1rem;        /* 16px, base */
$font-size-17: 1.0625rem;   /* 17px */
$font-size-20: 1.375rem;    /* 20px */
$font-size-22: 1.375rem;    /* 22px */
$font-size-24: 1.5rem;      /* 24px */
$font-size-40: 2.5rem;      /* 40px */
$font-size-64: 4rem;        /* 64px */

// Size
$size-circle: 264px;
