// Colors
$lightBlue: #78B4D7;
$blue: #0E2B71;
$mediumBlue: #0A1E50;
$darkBlue: #061332;
$backgroundBlue: #081840;
$pink: #DB2777;
$red: #E62832;
$mediumRed: #AE1920;
$darkRed: #9B1919;
$white: #FFFFFF;
$lightGray: #8A8E9E;
$darkGray: #4A4A4A;
$border: #E7E7E7;

// Fonts
$font-size-300: 0.75rem;    /* 12px */
$font-size-400: 1rem;       /* 16px, base */
$font-size-500: 1.25rem;    /* 20px */
$font-size-600: 1.5rem;     /* 24px */
$font-size-700: 2rem;       /* 32px */
$font-size-710: 2.5rem;     /* 40px */
$font-size-800: 3rem;       /* 48px */
$font-size-900: 4.5rem;     /* 72px */

// Size
$size-circle: 264px;

