@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.technologie-card-carousel {
    text-align: left;
    @include phone-portrait {
        min-width: 50%;
        min-height: 50%;
    }
}