@import "/src/styles/Mixins.scss";

.title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
    line-height: 72px;
    span {
        @include red-title;
    }
}