@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.title {
    font-size: $font-size-800;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 16px;
    span {
        @include red-title;
    }
    @include phone-portrait {
        font-size: $font-size-700;
        line-height: 3.5rem;
    }
}