@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

h1.titleh1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    span {@include red-title;}
}
h2.titleh2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    span {@include red-title;}
    @include phone-portrait {
        font-size: $font-size-700;
        line-height: 3.5rem;
    }
}
h3.titleh3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
h4.titleh4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
