@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.address {
    @include grid;
    &__card {
        grid-column: span 4;
        @include phone-portrait {
            grid-column: span 12;
        }
    }
    &__title {
        font-size: $font-size-600;
        margin-bottom: 32px;
        @include phone-portrait {
            margin-bottom: 16px;
        }
    }
    &__part {
        &:not(:last-child) {
            margin-bottom: 32px;
            @include phone-portrait {
                margin-bottom: 16px;
            }
        }
    }
    &__subtitle {
        font-size: $font-size-500;
        line-height: 2.25rem;
        opacity: .5;
    }
    &__join {
        @include flexbox;
    }
    &__text {
        line-height: 2.25rem;
    }
    &__link {
        line-height: 2.25rem;
        transition-duration: .3s;
        &:hover {
            color: $pink;
        }
    }
    &__separate {
        opacity: .5;
        margin: 0 16px;
        display: flex;
        height: 24px;
        width: 1px;
        background: white;
        @include phone-portrait {
            margin: 0 8px;
            height: 16px;
        }
    }
}