@import "/src/styles/Responsive.scss";
@import "/src/styles/Variables.scss";

.partnership {
    &__title {
        color: $darkBlue;
        text-align: center;
    }
    &__banner {
        background: $mediumBlue;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 20px;

        img {
            height: 70px;
            object-fit: contain;
            margin: auto;
        }
    }
    &__container {
        border-radius: 16px;
        padding: 20px;
        background-color: white;
    }
    &__partners {
        display: grid;
        grid-template-areas: 
            "logo1 logo1"
            "logo2 logo3";
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @include phone-portrait {
            grid-template-areas: 
                "logo1"
                "logo2"
                "logo3";
            grid-template-columns: 1fr;
        }
    }
    &__partner--logo1 {
        grid-area: logo1;
    }
    &__partner--logo2 {
        grid-area: logo2;
    }
    &__partner--logo3 {
        grid-area: logo3;
    }
}
