@import "/src/styles/Responsive.scss";
@import "/src/styles/Variables.scss";

.partnership {
    &__intro {
        margin-bottom: 40pt;
        text-align: left;
    }
    &__top {
        text-align: start;
        margin-bottom: 64px;
    }
    &__partners {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 20%;
     }
    &__logo {
        height: 50pt;
        display: block;
        margin: 80pt 60pt;
    }
}



