@import "/src/styles/Responsive.scss";
@import "/src/styles/Variables.scss";

.partnership {
    overflow: hidden;
    position: relative;
  }
  
  .partnership__partners {
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
    margin: 64px 0;
  }
  
  .partnership__logo {
    flex-shrink: 0;
    margin-right: 80px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  


