@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";


.navigation {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #113e7d, #081639);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-110%);
    transition: transform .3s .1s ease-in-out;
    pointer-events: auto;
    &--active {
        transform: translateX(0px);
    }
    &__main {
        @include flexbox;
        justify-content: space-between;
        height: calc(100% - 96px);
        @include phone-portrait {
            flex-direction: column-reverse;
        }
    }
    &__social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 64px;
        border-right: 1px solid (rgb(255 255 255 / 25%));
        height: 100%;
        width: 384px;
        @include phone-portrait {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            border-right: none;
            width: 100%;
        }
        @include phone-landscape {
            width: 290px;
        }
    }
    &__social-item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        img {
            margin-right: 16px;
        }
        a {
            @include flexbox;
            font-size: $font-size-600;
            color: white;
        }
    }
    &__menu {
        padding: 64px;
        width: calc(100% - 384px);
        display: flex;
        flex-direction: column;
        align-items: end;
        @include phone-portrait {
            width: 100%;
            padding-top: 100px;
        }
        @include custom-height {
            padding: 64px 64px 0 32px;
        }
    }
    &__menu-item {
        a {
            font-size: $font-size-900;
            color: $lightGray;
            line-height: 5.5rem;
            font-weight: 700;
            &.active {
                @include red-title;
            }
            &:hover {
                color: white;
            }
            @include phone-portrait {
                font-size: $font-size-800;
                line-height: 4.5rem;
            }

            @include custom-height {
                font-size: $font-size-700;
                line-height: 0;
            }
        }
    }
    &__footer {
        @include flexbox;
        border-top: 1px solid (rgb(255 255 255 / 25%));
        height: 96px;
    }
    &__left {
        border-right: 1px solid (rgb(255 255 255 / 25%));
        width: 384px;
        padding: 0 64px;
        height: 100%;
        @include flexbox;
        @include phone-portrait {
            width: 50%;
        }
    }
    &__right {
        padding: 0 64px;
        height: 100%;
        width: calc(100% - 384px);
        @include flexbox;
        justify-content: flex-end;
        @include phone-landscape {
            padding: 0;
            width: 100%;
            justify-content: center;
        }
    }
    &__way {
        @include flexbox;
        > p:first-child {
            opacity: .5;
        }
        @include phone-landscape {
            flex-direction: column;
        }
    }
    &__border {
        border: 1px solid white;
        width: 24px;
        margin: 0 8px;
        opacity: .5;
    }
    &__red {
        background: -webkit-linear-gradient(#DB2777, #E11D48);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

