@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";


.navigation {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #113e7d, #081639);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-110%);
    transition: transform .3s .1s ease-in-out;
    pointer-events: auto;
    @include phone-landscape {
        @include flexbox;
        justify-content: space-between;
        flex-direction: column;
    }
    &--active {
        transform: translateX(0px);
    }
    &__main {
        @include flexbox;
        justify-content: space-between;
        height: calc(100% - 96px);
        @include phone-landscape {
            flex-direction: column;
            height: initial;
            width: 100%;
        }
    }
    &__social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 64px;
        border-right: 1px solid (rgb(255 255 255 / 25%));
        height: 100%;
        width: 384px;
        @include tablet {
            padding: 32px;
            border-right: none;
        }
        @include phone-landscape {
            display: none;
        }
    }
    &__social-item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        @include phone-landscape {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
        @include phone-landscape {
            &:not(:last-child) {
                margin-bottom: -18px;;
            }
        }
        img {
            margin-right: 16px;
        }
        a {
            @include flexbox;
            font-size: $font-size-24;
            color: white;
        }
    }
    &__menu {
        padding: 20vh 64px 64px 0;
        width: calc(100% - 384px);
        display: flex;
        flex-direction: column;
        align-items: end;
        @include tablet {padding: 32px;}
        @include phone-landscape {
            padding-top: 0;
            width: 100%;
        }
        @include phone-landscape {
            padding-top: 100px;
        }
    }
    &__menu-item {
        @include phone-landscape {
            margin-bottom: -20px;
        }
        a {
            font-size: 5vh;
            color: $lightGray;
            line-height: 8.5vh;
            font-weight: 700;
            &.active {@include red-title;}
            &:hover {color: white;}
            @include phone-landscape {
                font-size: 3rem;
                line-height: initial;
            }
            @include phone-landscape {
                font-size: 2rem;
            }
        }
    }
    &__footer {
        @include flexbox;
        border-top: 1px solid (rgb(255 255 255 / 25%));
        height: 96px;
        @include tablet {
            justify-content: space-between;
        }
        @include phone-landscape {
            width: 100%;
        }
    }
    &__left {
        border-right: 1px solid (rgb(255 255 255 / 25%));
        width: 384px;
        padding: 0 64px;
        height: 100%;
        @include flexbox;
        @include tablet {
            border-right: none;
            width: 25%;
        }
        @include phone-landscape {
            width: 100%;
        }
    }
    &__right {
        padding: 0 64px;
        height: 100%;
        width: calc(100% - 384px);
        @include flexbox;
        justify-content: flex-end;
        @include tablet {width: 75%;}
        @include phone-landscape {
            display: none;
        }
    }
    &__way {
        @include flexbox;
        > p:first-child {
            opacity: .5;
        }
        @include phone-landscape {
            flex-direction: column;
        }
    }
    &__border {
        border: 1px solid white;
        width: 24px;
        margin: 0 8px;
        opacity: .5;
    }
    &__red {
        background: -webkit-linear-gradient(#DB2777, #E11D48);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
