@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.collapse {
    @include dark-gradient;
    padding: 40px;
    grid-column: span 4;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-height: 100px;
    overflow: hidden;
    &.open {
        max-height: 260px;
    }
    &:not(:last-child) {
        margin-bottom: 24px;
    }
    &__top {
        @include flexbox;
        justify-content: space-between;
    }
    &__icon {
        @include flexbox;
        justify-content: center;
        background: $blue;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        img {
            width: 16px;
            transition: all 0.3s ease-in-out;
        }
    }
    &.is-collapsed {
        @include border-gradient;
        transition: transform 0.3s ease-in-out;
        height: 260px;
    }
    .collapse__icon {
        background-color: $blue;
        img {
            transition: transform 0.1s ease-in-out;
            &.open {
                transform: rotate(90deg);
            }
        }
    }
}