@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.collapse {
    @include light-gradient;
    overflow: hidden;
    height: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    @include phone-portrait {
        height: 100px;
    }
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:not(:last-child) {
        margin-bottom: 24px;
    }
    &__top {
        font-size: $font-size-600;
        font-weight: 600;
        padding: 40px;
        @include phone-portrait {
            padding: 24px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body {
        padding: 40px;
    }
    &__icon {
        @include light-gradient;
        border-radius: 100%;
        img {
            transition: all 0.3s ease-in-out;
        }
    }
    &.is-collapsed {
        @include border-gradient;
        height: 260px;
        transition: all 0.3s ease-in-out;
        .collapse__icon {
            background-color: $blue;
            img {
                transform: rotate(90deg);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}