.button-primary {
    font-weight: 700;
    border-radius: 32px;
    height: 64px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    background: -webkit-linear-gradient(180deg, #DB2777, #E11D48);
    width: fit-content;
}