@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.button-primary {
    @include flexbox;
    justify-content: center;
    background: -webkit-linear-gradient(180deg, #DB2777, #E11D48);
    border-radius: 12px;
    width: max-content;
    text-wrap: nowrap;
    cursor: pointer;
    &__img {
        margin-left: 16px;
        color: $pink;
    }
    &:hover {
        background: linear-gradient(90deg, #B5173A 0%, #B31E60 100%);
    }
}
.button-primary-large {
    padding: 0 32px;
    height: 64px;
}
.button-primary-large .button-primary__img {
    width: 24px;
    height: 24px;
}
.button-primary-small {
    font-size: $font-size-300;
    padding: 0 16px;
    height: 40px;
    border-radius: 8px;
}
.button-primary-small .button-primary__img {
    width: 16px;
    height: 16px;
}