@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.header {
    @include flexbox;
    justify-content: space-between;
    padding: 64px;
    pointer-events: none;
    @include tablet {padding: 32px;}
    @include phone-landscape {padding: 24px;}
    &__logo {
        pointer-events: auto;
        z-index: 1;
    }
    &__img {
        height: 40px;
        @include desktop {
            height: 32px;
        }
    }
}