@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.value {
    grid-column: span 3;
    @include flexbox;
    &__number {
        font-size: 40px;
        font-weight: 500;
    }
    &__pink {
        color: $pink;
    }
    &__text {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 22px;
        opacity: .5;
        margin-inline-start: 16px;
    }
}

@media only screen and (min-width: 768px){
    .value {
        flex-direction: row;
    }
}