@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.value {
    grid-column: span 3;
    @include flexbox;
    @include phone-portrait {
        grid-column: span 6;
    }
    &__number {
        font-size: $font-size-710;
        font-weight: 500;
    }
    &__pink {
        color: $pink;
    }
    &__text {
        text-transform: uppercase;
        line-height: 1.375rem;
        opacity: .5;
        margin-inline-start: 16px;
    }
}
