.country {
    margin-bottom: 64px;
    &:last-child {
        margin-bottom: 0;
    }
}
.countryName {
    font-size: 24px;
    margin-bottom: 0.5em;
    color: #ffffff;
  }

.kind {
    font-size: 20px;
    color: #ffffff80;
}

.infos {
    font-size: 0.9em;
    color: #ffffff;
}