@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Bold.ttf") format("truetype");
    font-weight: 700;
}