article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-text: #4800d4;
    --color-bg: #e8e8e8;
    --color-link: #ec1752;
    --color-link-hover: #eb1851;
    --color-info: #272526;
    --grid-item-bg: #f1f1f1;
    --color-close: #ec1752;
	font-family: Futura, "futura-pt", sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
}


/* --------------------------------- SECTION 1 --------------------------------- */
.g_section1 {
    height: 100vh;
    background: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #161618;
}
.g_section1-line {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: .1;
}
.g_section1-line span {
    height: 100vh;
    border-right: 1px solid black;
}
.g_section1-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.g_menu {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: space-around;
}
.g_menu div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.g_menu span {
    display: block;
    height: 4px;
    width: 4px;
    background: #161618;
}
.g_section1-middle {
    display: flex;
    justify-content: center;
}
.g_section1 h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.g_section1 h1 svg:first-child, .g_section1 h1 svg:nth-child(2) {
    margin-bottom: 40px;
}
.g_section1-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
}
.g_language {
    display: flex;
    align-items: center;
}
.g_language span {
    border-bottom: 1px solid #161618;
    width: 24px;
    display: block;
    margin: 0 8px;
}
/* --------------------------------- SECTION 2 --------------------------------- */
.g_section2 {
    padding: 0 80px;
    height: 1120px;
    background: #161618;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.g_section2-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 360px 220px;
    align-items: center;
}
.g_section2-subtitle {
    font-size: 32px;
    grid-column: 3 / 11;
}
.g_section2 h2 {
    font-size: 152px;
    grid-column: 3 / 11;
    line-height: 164px;
}
.g_section2-text {
    font-size: 32px;
    grid-column: 7 / 11;
    margin-top: 128px;
}
.g_section2-circles {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 542px;
    height: 542px;
    bottom: -271px;
    left: -271px;
}
.g_section2-circles div {
    position: absolute;
    border-radius: 25em;
}
.g_circle1 {
    width: 542px;
    height: 542px;
    border: 1px solid white;
    opacity: .75;
}
.g_circle2 {
    width: 404px;
    height: 404px;
    border: 1px solid white;
    opacity: .50;
}
.g_circle3 {
    width: 284px;
    height: 284px;
    border: 1px solid #EA212E;
}
.g_circle4 {
    width: 174px;
    height: 174px;
    border: 1px solid white;
    opacity: .25;
}
/* --------------------------------- SECTION 3 --------------------------------- */
.g_section3 {
    padding: 0 80px;
    height: 1120px;
    background: #272729;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.g_section3 h3 {
    font-size: 96px;
    color: white;
    margin-bottom: 128px;
}
.g_section3-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
}
.g_card {
    grid-column: span 3;
    background: #1F1F21;
    border-radius: 16px;
    padding: 80px 40px;
}
.g_card h4 {
    font-size: 32px;
    color: white;
    margin-top: 40px;
}
.g_card p {
    font-size: 16px;
    color: white;
    opacity: .5;
}
.g_graph1 {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
.g_gline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 144px;
}
.g_gline div {
    border-bottom: 1px solid white;
    width: 100%;
}
.g_gline div:nth-child(2) {opacity: .75;}
.g_gline div:nth-child(3) {opacity: .50;}
.g_gline div:nth-child(4) {opacity: .25;}
.g_ground {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
}
.g_ground div {
    width: 60px;
    height: 60px;
    background: #EA212E;
    border-radius: 25em;
}
.g_graph2 {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.g_square {
    border: 1px solid white;
    height: 144px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}
.g_square div {
    width: 60px;
    height: 60px;
    border: 1px solid #EA212E;
    border-radius: 25em;
}
.g_square:nth-child(1), .g_square:nth-child(3) {border: 1px solid rgba(255, 255, 255, 0.50)}
.g_square:nth-child(2) div {background: #EA212E;}
.g_graph3 {
    height: 144px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.g_gcircle {
    position: absolute;
    height: 110px;
    width: 110px;
}
.g_gcircle div {
    width: 60px;
    height: 60px;
    border: 1px solid #EA212E;
    border-radius: 25em;
    position: absolute;
}
.g_gcircle div:first-child {
    left: 50px;
}
.g_gcircle div:nth-child(2) {
    top: 10px;
    left: 40px;
}
.g_gcircle div:nth-child(3) {
    top: 20px;
    left: 30px;
}
.g_gcircle div:nth-child(4) {
    top: 30px;
    left: 20px;
}
.g_gcircle div:nth-child(5) {
    top: 40px;
    left: 10px;
}
.g_gcircle div:nth-child(6) {
    top: 50px;
}
.g_graph4 {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
.g_ground2 {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
}
.g_ground2 div {
    width: 60px;
    height: 60px;
    border: 1px solid #EA212E;
    border-radius: 25em;
}
.g_gsquareL {
    opacity: .75;
    margin-top: 46px;
}
.g_gsquareB {
    background: #EA212E;
}
/* --------------------------------- SECTION 4 --------------------------------- */
.g_section4 {
    padding: 0 80px;
    height: 1120px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.g_section4-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.g_section4 svg {
    position: absolute;
    left: 0;
}
.g_section4-title {
    grid-column: 7 / 13;
    font-size: 96px;
    line-height: 108px;
}
.g_section4-text {
    grid-column: 8 / 13;
    font-size: 23px;
    opacity: .5;
    margin-top: 32px;
}
/* --------------------------------- SECTION 5 --------------------------------- */
.g_section5 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 560px);
    background: #272729;
    color: white;
}
.g_section5 > div {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.g_section5 h2 {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    font-size: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-2 {
    grid-column: 7 / 10;
    grid-row: 1 / 2;
    border-right: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-3 {
    grid-column: 10 / 13;
    grid-row: 1 / 2;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-4 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-5 {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-6 {
    grid-column: 7 / 10;
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-7 {
    grid-column: 10 / 13;
    grid-row: 2 / 3;
}
.g_section5-title {
    font-size: 24px;
}
.g_section5-text {
    opacity: .5;
    font-size: 20px;
}
/* --------------------------------- SECTION 6 --------------------------------- */
.g_section6 {
    padding: 0 160px;
    height: 1120px;
    background: #161618;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    h2 {
        font-size: 152px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}
.testimonial-group {
    width: 400px;
    background: #161618;
}
.testimonial {
    &__text {

    }
    &__author {

    }
    &__job {

    }
}



/* --------------------------------- UTILS --------------------------------- */
.mgb32 {
    margin-bottom: 32px;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
}

.frame {
	position: relative;
	padding: 1.5rem 2.5rem;
}

.frame a:hover {
	color: #4c33f7;
}

<<<<<<<< HEAD:app/assets/stylesheets/utils/general.scss
/* --------------------------------- CURSOR --------------------------------- */
body, body a {
    cursor: none;
}
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: gray;
}
.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}




.nav {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
  }
  .link {
    display: flex;
    width: 75px;
    height: 75px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
  }
  .settings-icon {
    display: block;
    width: 40px;
    height: 40px;
  }
  .settings-icon__line {
    stroke: var(--color-text);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }
  .settings-icon__rect {
    stroke: var(--color-text);
    fill: var(--color-bg);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }
  .link:hover .settings-icon__line,
  .link:hover .settings-icon__rect {
    stroke: var(--color-link);
    transition: all 0.2s ease 0.05s;
  }
  .link:hover .settings-icon__group--1 .settings-icon__rect {
    transform: translateY(20px);
  }
  .link:hover .settings-icon__group--2 .settings-icon__rect {
    transform: translateY(-20px);
  }
  .link:hover .settings-icon__group--3 .settings-icon__rect {
    transform: translateY(25px);
  } 

.title {
	text-align: center;
}

.title__name,
.title__sub {
	font-weight: normal;
	margin: 0;
	font-size: 1rem;
}

.title__sub {
	position: relative;
	margin: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.grid-wrap {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 6rem 1rem 0;
}

.grid-wrap--hidden {
	height: 0;
	overflow: hidden;
}

.grid {
	margin: 0 auto;
	position: relative;
	display: none;
}

.js .grid {
	display: block;
}

.grid__item {
	width: 260px;
	position: relative;
	padding: 2.75rem;
	margin-bottom: 5rem;
}

.grid__item-wrap {
	position: relative;
}

.grid__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
}

.grid__item-img {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
	transform: rotate3d(0,0,1,4deg);
}

.grid__item:nth-child(odd) .grid__item-img {
	transform: rotate3d(0,0,1,-4deg);
}

.grid__item-title {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	transform-origin: 0 50%;
}

.grid__item-number {
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2.65rem;
	margin: 0 0 0.15rem;
}

.grid__item-number > span {
	display: inline-block;
}

.content {
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	pointer-events: none;
}

.js .content {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.content__item {
	padding: 10rem 5vw 10rem;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
}

.js .content__item--current {
	height: auto;
	opacity: 1;
	padding: 3rem 5vw 10rem;
	pointer-events: auto;
}

.content__item-intro {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.content__item-img {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
	visibility: hidden;
}

.content__item-title {
	position: relative;
	font-size: 7vw;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 0 5vw;
	white-space: nowrap;
	grid-area: 1 / 1 / 1 / 1;
}

.content__item-title > span {
	white-space: pre;
	display: inline-block;
}

.content__item-subtitle {
	text-align: center;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 3rem auto;
}

.content__item-text {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.content__item-text p {
	margin: 0;
}

.content__close {
	position: absolute;
	top: 0.75rem;
	left: 50%;
	z-index: 10000;
	transform: translateX(-50%);
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: var(--color-text);
}

.content__close:focus {
	outline: none;
}

.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__indicator {
	position: absolute;
	top: calc(100vh - 6rem);
	left: calc(50% - 0.75rem);
	display: none;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
	opacity: 0;
}

@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
	}
	.codrops-header {
		grid-area: header;
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		text-align: left;
	}
	.codrops-links {
		margin: 0 0 0 1.5rem;
	}
	.title {
		grid-area: title;
		display: flex;
		text-align: left;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
		top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.grid__item-number {
		right: -2.45rem;
	}
	.grid__item-title {
		margin-left: -0.25rem;
	}
	.content__item-subtitle {
		font-size: 3vw;
	}
	.content__item-text {
  		column-count: 2;
  		column-gap: 20px;
  	}
	.content__item-img {
		max-width: none;
		height: calc(100vh - 6rem);
	}
	.content__item-subtitle {
		max-width: 50%;
	}
	.content__indicator {
		display: block;
	}
}

