@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.office-card {
    &__bottom {
        display: flex;
        justify-content: flex-end;
    }
    &__button {
        width: 32px;
        height: 32px;
        background: $blue;
        border-radius: 5rem;
        @include flexbox;
        justify-content: center;
        transition: .5s ease;
        &:hover {
            background: $pink;
        }
    }
    button:hover {
        cursor: pointer;
    }
}
