@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.office-card {
    padding: 48px 0;
    margin: 20px 0;
    @include dark-gradient;
    grid-column: span 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__icon {
        color: #78B4D7;
        margin-bottom: 32px;
        padding: 24px;
        @include light-gradient;
    }
    &__title {
        margin-bottom: 16px;
        font-size: 24px;
        text-align: center;
    }
    &__button {
        width: 32px;
        height: 32px;
        background: $blue;
        border-radius: 5rem;
        @include flexbox;
        justify-content: center;
        img {
            fill: white;
        }
    }
}