@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.office-card {
    @include flexbox;
    @include dark-gradient;
    padding: 48px 0;
    grid-column: span 4;
    flex-direction: column;
    @include phone-portrait {
        grid-column: span 12;
        padding: 24px 0;
    }
    &__icon {
        background: $blue;
        color: #78B4D7;
        margin-bottom: 32px;
        padding: 24px;
        
    }
    &__title {
        margin-bottom: 16px;
        font-size: $font-size-600;
        text-align: center;
    }
    &__button {
        width: 32px;
        height: 32px;
        background: $blue;
        border-radius: 5rem;
        @include flexbox;
        justify-content: center;
        img {
            fill: white;
        }
    }
}