@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.office-card {
    @include dark-gradient;
    padding: 48px 16px 16px 16px;
    grid-column: span 4;
    flex-direction: column;
    position: relative;
    @include phone-portrait {
        width: auto;
        grid-column: span 12;
        padding: 24px 20px 10px 20px;
    }
    &__icon {
        background: $blue;
        color: #78B4D7;
        margin-bottom: 32px;
        padding: 24px;
    }
    &__title {
        margin-bottom: 24px;
        font-size: $font-size-600;
        text-align: center;
    }
    &__bottom {
        display: flex;
        justify-content: flex-end;
        @include phone-portrait {
            position: absolute;
            right: 16px;
            bottom: 16px;
        }

    }
    &__button {
        width: 32px;
        height: 32px;
        background: $blue;
        border-radius: 5rem;
        @include flexbox;
        justify-content: center;
        transition: .5s ease;
        &:hover {
            background: $pink;
        }
    }
    button:hover {
        cursor: pointer;
    }
}
