/* --------------------------------- GENERAL --------------------------------- */
body {
    font-family: 'Cabin', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background: white;
}
a {
    text-decoration: none;
    color: inherit;
}
h2, h3, h4 {
    font-weight: 500;
}


/* --------------------------------- SECTION 1 --------------------------------- */
.g_section1 {
    height: 100vh;
    background: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #161618;
}
.g_section1-top {
    @include flexbox;
    justify-content: space-between;
}
.g_section1-middle {
    display: flex;
    justify-content: center;
}
.g_section1 h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.g_section1 h1 img:first-child, .g_section1 h1 img:nth-child(2) {
    margin-bottom: 40px;
}
.g_section1-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
/* --------------------------------- SECTION 2 --------------------------------- */
.g_section2 {
    padding: 0 80px;
    height: 1120px;
    background: #161618;
    color: white;
    @include flexbox;
    position: relative;
    overflow: hidden;
}
.g_section2-subtitle {
    font-size: 32px;
    grid-column: 3 / 11;
    @include tablet-landscape {
        font-size: 28px;
    }
}
.g_section2 h2 {
    font-size: 152px;
    grid-column: 3 / 11;
    line-height: 164px;
    margin-bottom: 32px;
    @include tablet-landscape {
        font-size: 96px;
        line-height: 116px;
    }
}
.g_section2-text {
    font-size: 32px;
    grid-column: 7 / 11;
    @include tablet-landscape {
        grid-column: 5 / 12;
        font-size: 30px;
    }
}
.g_section2-circles {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 542px;
    height: 542px;
    bottom: -271px;
    left: -271px;
}
.g_section2-circles div {
    position: absolute;
    border-radius: 25em;
}
.g_circle1 {
    width: 542px;
    height: 542px;
    border: 1px solid white;
    opacity: .75;
}
.g_circle2 {
    width: 404px;
    height: 404px;
    border: 1px solid white;
    opacity: .50;
}
.g_circle3 {
    width: 284px;
    height: 284px;
    border: 1px solid #EA212E;
}
.g_circle4 {
    width: 174px;
    height: 174px;
    border: 1px solid white;
    opacity: .25;
}
/* --------------------------------- SECTION 3 --------------------------------- */
.g_section3 {
    padding: 0 80px;
    height: 1120px;
    background: #272729;
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    @include tablet-landscape {
        padding: 160px 80px;
        height: initial;
    }
    > div {
        grid-gap: 32px;
    }
}
.g_section3 h3 {
    font-size: 96px;
    color: white;
    margin-bottom: 128px;
    @include tablet-landscape {
        font-size: 80px;
    }
}
.g_card {
    grid-column: span 3;
    background: #1F1F21;
    border-radius: 16px;
    padding: 80px 40px;
    @include tablet-landscape {
        grid-column: span 6;
    }
}
.g_card h4 {
    font-size: 32px;
    color: white;
    margin-top: 40px;
}
.g_card p {
    font-size: 16px;
    color: white;
    opacity: .5;
}
.g_graph1 {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
.g_gline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 144px;
}
.g_gline div {
    border-bottom: 1px solid white;
    width: 100%;
}
.g_gline div:nth-child(2) {opacity: .75;}
.g_gline div:nth-child(3) {opacity: .50;}
.g_gline div:nth-child(4) {opacity: .25;}
.g_ground {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
}
.g_ground div {
    width: 60px;
    height: 60px;
    background: #EA212E;
    border-radius: 25em;
}
.g_graph2 {
    height: 144px;
    @include flexbox;
    justify-content: space-between;
}
.g_square {
    border: 1px solid white;
    height: 144px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}
.g_square div {
    width: 60px;
    height: 60px;
    border: 1px solid #EA212E;
    border-radius: 25em;
}
.g_square:nth-child(1), .g_square:nth-child(3) {border: 1px solid rgba(255, 255, 255, 0.50)}
.g_square:nth-child(2) div {background: #EA212E;}
.g_graph3 {
    height: 144px;
    border: 1px solid white;
    @include flexbox;
    justify-content: center;
}
.g_gcircle {
    position: absolute;
    height: 110px;
    width: 110px;
}
.g_gcircle div {
    width: 60px;
    height: 60px;
    border: 1px solid #EA212E;
    border-radius: 25em;
    position: absolute;
}
.g_gcircle div:first-child {
    left: 50px;
}
.g_gcircle div:nth-child(2) {
    top: 10px;
    left: 40px;
}
.g_gcircle div:nth-child(3) {
    top: 20px;
    left: 30px;
}
.g_gcircle div:nth-child(4) {
    top: 30px;
    left: 20px;
}
.g_gcircle div:nth-child(5) {
    top: 40px;
    left: 10px;
}
.g_gcircle div:nth-child(6) {
    top: 50px;
}
.g_graph4 {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
.g_ground2 {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
}
.g_ground2 div {
    width: 60px;
    height: 60px;
    border: 1px solid #EA212E;
    border-radius: 25em;
}
.g_gsquareL {
    opacity: .75;
    margin-top: 46px;
}
.g_gsquareB {
    background: #EA212E;
}
/* --------------------------------- SECTION 4 --------------------------------- */
.g_section4 {
    padding: 0 80px;
    height: 1120px;
    background: white;
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.g_section4 svg {
    position: absolute;
    left: 0;
    @include tablet-landscape {
        left: -330px;
    }
}
.g_section4-title {
    grid-column: 7 / 13;
    font-size: 96px;
    line-height: 108px;
    @include tablet-landscape {
        font-size: 80px;
        line-height: 88px;
    }
}
.g_section4-text {
    grid-column: 8 / 13;
    font-size: 23px;
    opacity: .5;
    margin-top: 32px;
}
/* --------------------------------- SECTION 5 --------------------------------- */
.g_section5 {
    height: 1120px;
    background: #272729;
    color: white;
    @include tablet-landscape {
        height: initial;
    }
    &__part {
        grid-column: span 3;
        @include tablet-landscape {
            grid-column: span 6;
        }
    }
}
.g_section5 .g_section5-2, .g_section5 .g_section5-3, .g_section5 .g_section5-4, .g_section5 .g_section5-5, .g_section5 .g_section5-6, .g_section5 .g_section5-7 {
    padding: 80px;
    display: flex;
    flex-direction: column;
    height: 560px;
    @include tablet-landscape {
        grid-row: initial;
        height: initial;
    }
}
.g_section5 h2 {
    grid-column: span 6;
    grid-row: 1 / 2;
    font-size: 96px;
    @include flexbox;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    @include tablet-landscape {
        grid-row: initial;
        grid-column: span 12;
        padding: 80px 0;
        border-right: none;
    }
}
.g_section5-2 {
    grid-row: 1 / 2;
    border-right: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-3 {
    grid-row: 1 / 2;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-4 {
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);
    @include tablet-landscape {
        border-bottom: 1px solid rgba(255, 255, 255, .25);
    }
}
.g_section5-5 {
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);
    @include tablet-landscape {
        border-bottom: 1px solid rgba(255, 255, 255, .25);
    }
}
.g_section5-6 {
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);
}
.g_section5-7 {
    grid-row: 2 / 3;
}
.g_section5-title {
    font-size: 24px;
}
.g_section5-text {
    opacity: .5;
    font-size: 20px;
}
/* --------------------------------- SECTION 6 --------------------------------- */
.g_section6 {
    padding: 0 160px;
    height: 1120px;
    background: #161618;
    color: white;
    @include flexbox;
    justify-content: space-between;
    position: relative;
    h2 {
        font-size: 152px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}
.testimonial-group {
    width: 400px;
    z-index: 1;
    overflow-y: scroll;
    height: 100%;
}
.testimonial {
    background: #161618;
    margin-bottom: 256px;
    &:last-child {
        margin-bottom: 0;
    }
    &__text {
        font-size: 32px;
        margin-bottom: 32px;
    }
    &__author {
        font-size: 24px;
        opacity: .5;
    }
    &__job {
        font-size: 32px;
    }
}
/* --------------------------------- SECTION 7 --------------------------------- */
.city {
    height: 1120px;
    background: #272729;
    color: white;
    @include tablet-landscape {
        overflow-x: scroll;
        height: 960px;
    }
    > .grid {
        @include tablet-landscape {
            width: 1680px;
        }
    }
    &__part {
        grid-column: span 3;
        border-right: 1px solid rgba(255, 255, 255, .25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1120px;
        @include tablet-landscape {
            height: 960px;
        }
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-size: cover;
            background-repeat: none;
        }
        &:first-child:hover {
            background-image: url("/assets/images/img-content/amsterdam.png");
        }
        &:nth-child(2):hover {
            background-image: url("/assets/images/img-content/rotterdam.png");
        }
        &:nth-child(3):hover {
            background-image: url("/assets/images/img-content/paris.png");
        }
        &:nth-child(4):hover {
            background-image: url("/assets/images/img-content/bruxelles.png");
        }
    }
    &__country {
        opacity: .5;
    }
    &__place {
        font-size: 48px;
        line-height: 48px;

    }
}
/* --------------------------------- SECTION 8 --------------------------------- */
.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 160px;
    height: 1120px;
    color: #161618;
    border-bottom: 1px solid red;
    &__flex {
        @include flexbox;
        justify-content: space-between;
        @include tablet-landscape {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title {
        font-size: 152px;
        line-height: 164px;
        grid-column: span 12;
        margin-bottom: 64px;
        @include tablet-landscape {
            font-size: 96px;
            line-height: 116px;
        }
    }
    &__text {
        font-size: 32px;
        grid-column: span 6;
        width: 600px;
        @include tablet-landscape {
            margin-bottom: 64px;
        }
    }
    &__group {
        @include flexbox;
    }
    &__card {
        border: 1px solid #c9c9c9;
        width: 130px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        margin-right: 16px;
        &:first-child {
            .client__logo {
                height: 40%;
            }
        }
        &:last-child {
            margin-right: 0;
        }
       
    }
    &__logo {
        width: auto;
        height: 20%;
    }
}

/* --------------------------------- SECTION 9 --------------------------------- */
.partner {
    padding: 0 160px;
    height: 1120px;
    background: #272729;
    @include flexbox;
    position: relative;
    @include tablet-landscape {
        height: 860px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: white;
        border-radius: 4rem;
        width: 780px;
        position: absolute;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 80px;
        padding-right: 0px;
        @include tablet-landscape {
            width: 590px;
        }
    }
    &__title {
        font-size: 96px;
        color: white;
        @include tablet-landscape {
            font-size: 56px;
            line-height: 66px;
        }
    }
    &__card {
        @include flexbox;
        justify-content: center;
        width: 220px;
        height: 140px;
        &:first-child .partner__logo {height: 130px;}
        &:nth-child(2) .partner__logo {height: 40px;}
        &:nth-child(5) .partner__logo {height: 50px;}
        &:nth-child(6) .partner__logo {height: 100px;}
    }
    &__logo {
        height:60px;
    }
}

/* --------------------------------- SECTION 10 --------------------------------- */
.hero {
    padding: 128px;
    background: #161618;
}
.hero__inner {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    &::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (16 / 9));
    }
}
.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    object-fit: cover;
}
.hero__content {
    display: none;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.hero__headline {
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(0.25, 1, 0.5, 1);
    position: relative;
    display: inline-block;
    font-size: 104px;
    overflow: hidden;
    width: 960px;
    padding: 64px;
    p {
        font-size: 152px;
        color: white;
        line-height: 160px;
        font-weight: 700;
        display: block;
        transform: translateY(130%);
        transition: transform var(--duration) var(--ease);
        @include tablet-landscape {
            font-size: 96px;
            line-height: 116px;
        }
    }
    .active & {
        &::after {
            transform: scaleX(1);
            transition-delay: 0s;
        }
        p {
            transform: translateY(0);
            transition-delay: var(--delay);
        }
    }
}

/* --------------------------------- SECTION 11 --------------------------------- */
.contact {
    background: #272729;
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
    }
    &__card {
        grid-column: span 4;
        padding: 96px;
        color: white;
        &:first-child, &:nth-child(2) {
            border-right: 1px solid rgba(255,255,255,0.25);
        }
    }
    &__part {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__cat {
        font-size: 24px;
    }
    &__text {
        opacity: .5;
        font-size: 20px;
    }
    &__link {
        opacity: .5;
        font-size: 20px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
    }
}


















/* --------------------------------- UTILS --------------------------------- */
.mgb32 {
    margin-bottom: 32px;
}















.nav {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
  }
  .link {
    @include flexbox;
    width: 75px;
    height: 75px;
    margin: 0 5px;
    justify-content: center;
  }
  .settings-icon {
    display: block;
    width: 40px;
    height: 40px;
  }
  .settings-icon__line {
    stroke: var(--color-text);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }
  .settings-icon__rect {
    stroke: var(--color-text);
    fill: var(--color-bg);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }
  .link:hover .settings-icon__line,
  .link:hover .settings-icon__rect {
    stroke: var(--color-link);
    transition: all 0.2s ease 0.05s;
  }
  .link:hover .settings-icon__group--1 .settings-icon__rect {
    transform: translateY(20px);
  }
  .link:hover .settings-icon__group--2 .settings-icon__rect {
    transform: translateY(-20px);
  }
  .link:hover .settings-icon__group--3 .settings-icon__rect {
    transform: translateY(25px);
  } 











  

