body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: var(--bg-color);
    color: var(--primary-color);
}
a {
    text-decoration: none;
    color: inherit;
}
h2, h3, h4 {
    font-weight: 400;
}
.container {
    max-width: 1568px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}