body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-primary);
    background: var(--bg);
}
a {
    text-decoration: none;
    color: inherit;
}
h2, h3, h4 {
    font-weight: 400;
}
.container {
    max-width: 1568px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.separate {
    border-top: $border;
}
.nav {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.link {
    @include flexbox;
    width: 75px;
    height: 75px;
    margin: 0 5px;
    justify-content: center;
}