:root {
	// light theme
    --light-surface: #FFFFFF;
    --light-bg: #FBFBFB;
    --light-bottom-bg: #EFEFEF;
	--light-border: #CACACA;
    --light-primary: #EA212E;
	--light-text-primary: #1D1D1F;
	--light-text-secondary: #A1A1A1;
	
	// dark theme
	--light-surface: #090909;
    --light-bg: #1F1F21;
    --light-bottom-bg: #EFEFEF;
	--light-border: #4E4E4E;
    --light-primary: #EA212E;
	--light-text-primary: #FFFFFF;
	--light-text-secondary: #AFAFAF;
	
	// neon theme
	--neon-surface: #090909;
    --neon-bg: #1F1F21;
    --neon-bottom-bg: #EFEFEF;
	--neon-border: #4E4E4E;
    --neon-primary: #EA212E;
	--neon-text-primary: #FFFFFF;
	--neon-text-secondary: #AFAFAF;

    // rendered theme
    --surface: var(--light-surface);
	--bg: var(--light-bg);
    --bottom-bg: var(--light-bottom-bg);
	--border: var(--light-border);
	--primary: var(--light-primary);
	--text-primary: var(--light-text-primary);
	--text-secondary: var(--light-text-secondary);
}




