:root {
	// light theme
    --light-surface: #FFFFFF;
    --light-bg: #FBFBFB;
    --light-bottom-bg: #EFEFEF;
	--light-draw-bg: #35353A;
	--light-border: #DDDDDD;
    --light-primary: #EA212E;
	--light-text-primary: #1D1D1F;
	--light-text-secondary: #A1A1A1;
	
	// dark theme
	--dark-surface: #090909;
    --dark-bg: #1F1F21;
    --dark-bottom-bg: #000000;
	--dark-draw-bg: #3E3E3E;
	--dark-border: #2C2C2C;
    --dark-primary: #EA212E;
	--dark-text-primary: #FFFFFF;
	--dark-text-secondary: #AFAFAF;
}
