:root {
    --primary-color: #1D1D1F;
    --secondary-color: #A1A1A1;
    --bg-color: #FFFFFF;
    --bg-color2: #FBFBFB;
    --border-color: #CACACA;




    --tag-color: #EEEEEE;
    --header-color: #F8F8F8;
    --body-color: #EDEDED;
    --button-color: #3B3636;
}

[data-theme="dark"] {
    --primary-color: #FFFFFF;
    --secondary-color: #AFAFAF;
    --bg-color: #090909;
    --bg-color2: #1F1F21;
    --border-color: #4E4E4E;




    --tag-color: #1E1E21;
    --header-color: #36373A;
    --body-color: #1F1F22;
    --button-color: #818386;
}