@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.technologies-carousel {

    @include phone-portrait {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    &__desc {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .button-secondary {
        margin-left: auto;
        margin-right: auto;
      }

      @include phone-portrait {
        grid-template-columns: 1fr;
      }
    }

    &__carousel {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: 0;
        scroll-behavior: smooth;
        display: grid;
        grid-auto-flow: column;
        gap: 24px;
        &.active {
            cursor: grab;
            user-select: none;
        }
    }
    &__carousel::-webkit-scrollbar {
        display: none;
    }
    &__carousel.active {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    &__carousel.no-transition {
        scroll-behavior: auto;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__card {
        background: linear-gradient(to bottom, #0A1E50, #081A47);
        scroll-snap-align: start;
        height: 100%;
        width: 424px;
        padding: 40px;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;

        @include phone-portrait {
            width: 290px;
        }

        &:hover {
            #light {
                animation: glowing 2s infinite;
              }
              #buildingRoof {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dash 1s linear forwards;
              }
              #carWaves, #buildingPillar, #bankPillar {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dash 2s linear forwards;
              }
              #buildingPillarExt {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dash 0.5s linear forwards;
              }
              #buildingFlag {
                animation: putFlag 1s forwards;
              }
              #shield, #bankCoin {
                animation: rotateShield 0.5s forwards;
              }
              #bankRoofTop{
                animation: putFlag 1s forwards;
              }
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        button {
            width: 64px;
            height: 64px;
            background: $blue;
            border-radius: 5rem;
            @include flexbox;
            justify-content: center;
        }

        .disabled {
            opacity: .5;
        }

        @include phone-portrait {
            display: none;
        }
    }
}

@keyframes putFlag {
    0% {transform: translateY(-100%);}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-100%);}
    80% {transform: translateY(0%);}
    90% {transform: translateY(-10%);}
    100% {transform: translateY(0%);}
  }
  
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes rotateShield {
    from {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
  
  @keyframes constructPillar {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
  @keyframes glowing {
    0%, 100% {
      fill: #780000;
      opacity: 0.5;
    }
    50% {
      fill: #ff0000;
      opacity: 1;
    }
  }
  