@import "/src/components/Grid/Grid.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.expertises-part {
    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 64px;
        @include phone-portrait {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__desc {
        h2 {
            width: 80%;
            @include desktop-up {width: 55%;}
            @include desktop {width: 65%;}
            @include tablet {width: 88%;}
            @include phone-landscape {width: 100%;}
        }
        p:nth-child(3) {
            width: 80%;
            @include desktop-up {width: 72%;}
            @include desktop {width: 87%;}
            @include phone-landscape {width: 100%;}
        }
    }
    &__content {
        @include grid;
    }
}