@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.work-card {
    @include dark-gradient;
    @include flexbox;
    flex-direction: column;
    padding: 48px 24px;
    gap: 24px;
    &__title {
        font-size: $font-size-600;
    }
    &__desc {
        color: rgb(209, 0, 90);
    }
    &__text {
        opacity: .5;
    }
    &__content {
        display: flex;
        flex-direction: column;
        grid-column: 2/2;
        row-gap: 5px;
        justify-content: center;
    }
    img {
        grid-column: 1/1;
        width: 100%;
        border-radius: 5%;
    }
}
