@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.footer {
    background: $darkBlue;
    &__top {
        padding: 64px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    }
    &__bottom {
        padding: 32px 0;
        @include flexbox;
        justify-content: space-between;
    }
    &__part {
        grid-column: span 2;
        &:first-child {grid-column: span 6;}
        &:last-child {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
    &__category {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    &__logo {
        height: 32px;
        margin-bottom: 12px;
    }
    &__text {
        opacity: .5;
        margin-bottom: 64px;
    }
    &__social {
        @include flexbox;
        a {
            background: linear-gradient(to bottom, $darkBlue, $darkBlue) padding-box,
                        linear-gradient(to bottom, rgb(255 255 255 / 24%), rgb(84 145 179 / 24%)) border-box;
            border: 1px solid transparent;
            border-radius: 12px;
            height: 64px;
            width: 64px;
            @include flexbox;
            justify-content: center;
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
    &__title {
        opacity: .5;
        font-size: $font-size-600;
        margin-bottom: 16px;
    }
    &__list {

    }
    &__item {
        a {
            transition-duration: .3s;
            &:hover {
                color: $pink;
            }
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

@media only screen and (min-width: 768px){
.footer{
        &__top {
            .first{
                grid-column: 1 / 3;
                display: inline;
                width: 100%;
            }
            .second{
                grid-column: 4 / 5;
                display: inline;
            }
            .third{
                grid-column: 6 / 8;
            }
            .fourth{
                grid-column: 9 / 11;
                display: inline;
            }
        }
    }
}