.footer {
    padding: 0 128px;
    background: #0A1428;
    &__top {
        padding: 64px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    }
    &__bottom {
        padding: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__part {
        grid-column: span 3;
    }
    &__category {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    &__logo {
        height: 32px;
        margin-bottom: 12px;
    }
    &__text {
        opacity: .5;
        margin-bottom: 64px;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__title {
        opacity: .5;
        font-size: 24px;
        margin-bottom: 16px;
    }
    &__list {

    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}