.footer {
    // a {
    //     font-size: 14px;
    // }
    // padding: 0 128px;
    background: #0A1428;
    color: white;
    &__top {
        padding: 64px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        .first{
            width: 70%;
            grid-column: 1 / -1;
            margin: auto;
            img {
                margin: auto;
            }
        }
        .second{
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .footer__category {
                margin: auto;
            }
        }
        .third{
            grid-column: 1 / -1;
            margin: auto;
        }
        .fourth{
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .footer__category {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__bottom {
        padding: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__part {
        grid-column: span 3;
    }
    &__category {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    &__logo {
        height: 32px;
        margin-bottom: 12px;
    }
    &__text {
        opacity: .5;
        margin-bottom: 64px;
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            border: 1px solid rgb(26,42,62);
            border-width: 1px;
            padding: 15px;
            border-radius: 15%;
        }
    }
    &__title {
        opacity: .5;
        font-size: 24px;
        margin-bottom: 16px;
    }
    &__list {

    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

@media only screen and (min-width: 768px){
.footer{
        &__top {
            .first{
                grid-column: 1 / 3;
                display: inline;
                width: 100%;
            }
            .second{
                grid-column: 4 / 5;
                display: inline;
            }
            .third{
                grid-column: 6 / 8;
            }
            .fourth{
                grid-column: 9 / 11;
                display: inline;
            }
        }
    }
}