@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.footer {
    background: $darkBlue;
    &__top {
        padding: 64px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        @include phone-portrait {
            padding: 32px 0;
        }
    }
    &__bottom {
        padding: 32px 0;
        @include flexbox;
        justify-content: space-between;
        a {
            transition-duration: .3s;
            &:hover {color: $pink;}
        }
    }
    &__part {
        grid-column: span 2;
        &:first-child {
            grid-column: span 6;
            @include phone-portrait {
                grid-column: span 12;
            }
        }
        &:last-child {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            @include phone-portrait {
                justify-content: flex-start;
            }
        }
        @include phone-portrait {
            grid-column: span 6;
        }
    }
    &__brand {
        margin-bottom: 64px;
        a {
            display: inline-block;
        }
        @include phone-portrait {
            margin-bottom: 32px;
        }
    }
    &__category {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    &__logo {
        height: 32px;
        margin-bottom: 12px;
    }
    &__text {
        color: $lightGray;
    }
    &__social {
        @include flexbox;
        a {
            background: linear-gradient(to bottom, $darkBlue, $darkBlue) padding-box,
                        linear-gradient(to bottom, rgb(255 255 255 / 24%), rgb(84 145 179 / 24%)) border-box;
            border: 1px solid transparent;
            border-radius: 12px;
            height: 64px;
            width: 64px;
            @include flexbox;
            justify-content: center;
            
            &:not(:last-child) {
                margin-right: 8px;
            }
            
            img {
                transition: filter 0.3s ease; // Add transition here
            }
            
            &:hover {
                img {
                    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(290deg) brightness(90%);
                }
            }
        }        
    }
    &__title {
        color: $lightGray;
        font-size: $font-size-24;
        margin-bottom: 16px;
    }
    &__item {
        a {
            transition-duration: .3s;
            &:hover {color: $pink;}
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}
