@import "/src/styles/Mixins.scss";

.contact-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 48px 48px 48px;
    grid-column: span 6;
    @include dark-gradient;
    position: relative;
    margin-top: 128px;
    .icon {
        position: absolute;
        top: -64px;
    }
    &__title {
        font-size: 32px;
        margin-bottom: 8px;
        color: white;
    }
    &__text {
        font-size: 20px;
        opacity: .5;
        color: white;
    }
}