@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.technologies-carousel {
    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 64px;
        @include phone-portrait {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__desc {
        h2 {
            width: 80%;
            @include desktop-up {width: 55%;}
            @include desktop {width: 65%;}
            @include tablet {width: 88%;}
            @include phone-landscape {width: 100%;}
        }
        p:nth-child(3) {
            width: 80%;
            @include desktop-up {width: 72%;}
            @include desktop {width: 87%;}
            @include phone-landscape {width: 100%;}
        }
    }
    @include phone-portrait {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    &__carousel {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: 0;
        scroll-behavior: smooth;
        display: grid;
        grid-auto-flow: column;
        gap: 24px;
        user-select: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }
    }
    &__carousel::-webkit-scrollbar {
        display: none;
    }
    &__carousel.active {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    &__carousel.no-transition {
        scroll-behavior: auto;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin-left: 300px;
        @include desktop-up {padding: 0 32px;}
        @include phone-landscape {
            padding: 0 24px;
            margin-left: 0;
        }
    }
    &__card {
        background: linear-gradient(to bottom, #0A1E50, #081A47);
        scroll-snap-align: start;
        height: 100%;
        width: 380px;
        padding: 40px;
        list-style: none;
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 1px solid $blue;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        &:last-child {
            margin-right: 20px;
        }
        @include phone-portrait {
            width: 290px;
        }
        &:hover {
            #light {
                animation: glowing 2s infinite;
            }
            #buildingRoof {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dash 1s linear forwards;
            }
            #carWaves, #buildingPillar, #bankPillar {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dash 2s linear forwards;
            }
            #buildingPillarExt {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dash 0.5s linear forwards;
            }
            #buildingFlag {
                animation: putFlag 1s forwards;
            }
            #shield, #bankCoin {
                animation: rotateShield 0.5s forwards;
            }
            #bankRoofTop{
                animation: putFlag 1s forwards;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        button {
            width: 64px;
            height: 64px;
            background: $blue;
            border-radius: 5rem;
            @include flexbox;
            justify-content: center;

            &:hover:not(.disabled) {
                background: $pink;
            }
        }
        .disabled {
            cursor: not-allowed;
            opacity: .5;
        }
        @include phone-portrait {
            display: none;
        }
    }
}

@keyframes putFlag {
    0% {transform: translateY(-100%);}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-100%);}
    80% {transform: translateY(0%);}
    90% {transform: translateY(-10%);}
    100% {transform: translateY(0%);}
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes rotateShield {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}
@keyframes constructPillar {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes glowing {
    0%, 100% {
        fill: #780000;
        opacity: 0.5;
    }
    50% {
        fill: #ff0000;
        opacity: 1;
    }
}
  