// ----------------------- Imports -----------------------
@import "./styles/Reset.scss";
@import "./styles/Responsive.scss";
@import "./styles/Fonts.scss";
@import "./styles/Variables.scss";
@import "./styles/Mixins.scss";
@import "./styles/Utils.scss";

// ----------------------- General -----------------------
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    background: linear-gradient(135deg, #113e7d, #081639);
    background-attachment: fixed;
    overflow-x: hidden;
}

/* ------------- HERO ------------- */

.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(#061C45, #062149, #063256, #064E6C, #06748A, #068A9C);
    &__background {
        img {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100%;
            &:first-child {
                top: 120px;
            }
        }
    }
    &__content {
        height: 100vh;
        grid-column: span 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
    }
    &__moon {
        position: absolute;
        width: 220px;
        right: 295px;
        top: 92px;
    }
    &__title {
        font-size: 80px;
        font-weight: 700;
        line-height: 96px;
        margin-bottom: 32px;
        span {
            @include red-title;
        }
    }
    &__text {
        font-size: 24px;
        opacity: .5;
    }
}

/* ------------- SERVICES ------------- */
.services {
    padding: 128px 0;
    &__img {
        grid-column: 1/6;
        width: 100%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        grid-column: 7/13;
    }
}
.works {
    padding: 128px 0;
    position: relative;
    &__left {
        display: flex;
        flex-direction: column;
        grid-column: span 6;
    }
    &__moon {
        position: absolute;
        top: -360px;
        right: -370px;
        z-index: -1;
    }
}

.tab {
    display: flex;
    align-items: center;
    height: 80px;
    background: linear-gradient(#0A1E50, #081A47);
    border-radius: 16px;
    border: 1px solid #78B4D7;
    padding: 8px;
    &__entry {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 64px;
        padding: 0 32px;
    }
}

.tab-entry {
    display: none;
}
.show-tab-entry {
    display: block;
    margin-top: 64px;
}
.about {
    padding: 128px 0;
    &__moon {
        grid-column: span 5;
        width: 100%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        grid-column: 7/13;
    }
}
.testimonial {
    padding: 128px 0;
    position: relative;
    &__left {
        display: flex;
        flex-direction: column;
        grid-column: span 4;
    }
    &__content {
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 96px;
    }
    &__moon {
        position: absolute;
        top: -280px;
        z-index: -1;
        width: 1150px;
        right: 180px;
    }
}

.contact {
    position: relative;
    &__star {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
    }
}
.address {
    background: var(--bg);
    padding: 128px 0;
    &__card {
        grid-column: span 4;
    }
    &__title {
        font-size: 24px;
        margin-bottom: 32px;
    }
    &__part {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subtitle {
        font-size: 20px;
        line-height: 36px;
        opacity: .5;
    }
    &__join {
        @include flexbox;
    }
    &__text {
        font-size: 16px;
        line-height: 36px;
    }
    &__link {
        font-size: 16px;
        line-height: 36px;
    }
    &__separate {
        opacity: .5;
        margin: 0 16px;
        display: flex;
        height: 24px;
        width: 1px;
        background: white;
    }
   
}



























#textblock {
    background-color: #210002;
    height: 100vh;
  }
  
  #textblock-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 70px;
  }
  
  #textblock-title {
    color: #ffaf1b;
    font-size: 35px;
    font-weight: 600;
    font-family: "Helvetica Neue";
  }
  
  #textblock-content {
    color: #ffaf1b;
    font-size: 20px;
  }
  
  #textblock-footer {
    color: #ffaf1b;
    font-size: 15px;
    font-weight: 400;
    position: fixed;
    width: 100%;
    bottom: 0px;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-bottom: 20px;
  
  }
  
  #textblock-devsense {
    text-decoration: none;
    color: #ffaf1b;
    font-size: 15px;
    font-weight: 600;
  }
  
  .animation, .animation_layer {
      height: 1000px;
  }
  
  .animation {
    display: block;
      position: relative;
      z-index: 10;
  }
  
  .animation_layer {
      background-position: bottom center;
      background-size: auto 1038px;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  #artback {
    background: red;
  }
  #mist {
    background-image: url("../public/mist.svg");
    opacity: .2;
  }
  
  #logoland {
    background-image: url(./images/logo_land.png);
  }
  
  #clouds {
    background-image: url("../public/clouds.svg");
  }
  
  #jungle2 {
    background-image: url(./images/jungle2.png);
  }
  
  #jungle3 {
    background-image: url(./images/jungle3.png);
  }
  
  #jungle4 {
    background-image: url(./images/jungle4.png);
  }
  
  #jungle5 {
    background-image: url(./images/jungle5.png);
  }
  
  #manonmountain {
    background-image: url(./images/man_on_mountain.png);
  }