// ----------------------- Imports -----------------------
@import "./styles/Reset.scss";
@import "./styles/Responsive.scss";
@import "./styles/Fonts.scss";
@import "./styles/Variables.scss";
@import "./styles/Mixins.scss";
@import "./styles/Utils.scss";

// ----------------------- General -----------------------
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    background: linear-gradient(135deg, #113e7d, #081639);
    background-attachment: fixed;
    overflow-x: hidden;
}

/* ------------- HERO ------------- */

.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(#061C45, #062149, #063256, #064E6C, #06748A, #068A9C);
    &__background {
        img {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100%;
            &:first-child {
                top: 120px;
            }
        }
    }
    &__content {
        height: 100vh;
        grid-column: span 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
    }
    &__moon {
        position: absolute;
        width: 150px;
        right: 20px;
        top: 92px;
    }
    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 16px;
        span {
            @include red-title;
        }
    }
    &__text {
        font-size: 24px;
        opacity: .5;
    }
}

/* ------------- SERVICES ------------- */
.services {
    padding: 128px 0;
    &__img {
        grid-column: 1/6;
        width: 100%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        grid-column: 1/13;
    }
}
.works {
    padding: 128px 0;
    position: relative;
    &__left {
        display: flex;
        flex-direction: column;
        grid-column: span 6;
    }
    &__moon {
        position: absolute;
        width: 200px;
        top: -360px;
        right: 0px;
        z-index: -1;
    }
    &__left {
        grid-column: 1/13;
    }
}

.tab {
    display: flex;
    align-items: center;
    height: 80px;
    background: linear-gradient(#0A1E50, #081A47);
    border-radius: 16px;
    border: 1px solid #78B4D7;
    padding: 8px;
    margin-top: 20px;
    &__entry {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 64px;
        padding: 0 32px;
    }
}

.tab-entry {
    display: none;
}
.show-tab-entry {
    display: block;
    margin-top: 64px;
}
.about {
    padding: 128px 0;
    &__moon {
        grid-column: span 5;
        width: 100%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        grid-column: 1/13;
    }
}
.testimonial {
    padding: 128px 0;
    position: relative;
    &__left {
        display: flex;
        flex-direction: column;
        grid-column: span 4;
    }
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        margin-top: 96px;
    }
    &__moon {
        position: absolute;
        top: -280px;
        z-index: -1;
        width: 1150px;
        right: 180px;
    }
}

.contact {
    position: relative;
    &__star {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
    }
}

@media only screen and (min-width: 768px){
    .works {
        &__moon {
            top: -360px;
            right: -370px;
        }
        &__left {
            grid-column: span 6;
        }
    }
    .tab {
        margin-top: 0;
    }
    .about {
        &__right {
            display: flex;
            flex-direction: column;
            grid-column: 7/13;
        }
    }
    .hero {
        &__title {
            font-size: 80px;
            font-weight: 700;
            line-height: 96px;
            margin-bottom: 32px;
        }
        &__text {
            font-size: 24px;
            opacity: .5;
        }
        &__moon {
            position: absolute;
            width: 220px;
            right: 295px;
            top: 92px;
        }
    }
    .services {
        &__right {
            grid-column: 7/13;
        }
    }
    .testimonial {
        &__content {
            flex-direction: row;
        }
    }
}

/* ----------------------- Contact Page ----------------------- */

.contact {
    &__main {
        position: relative;
        padding-block-start: 15em;
        // width: 100px;
        width: 100%;
        padding-bottom: 5em;
        overflow: hidden;
    }
    &__title {
        width: 80%;
        padding-left: 15%;
    }

    &__content {
        padding-left: 15%;
        width: 80%;
        margin-block-end: 200px;
        button{
            background-color: #E53E3E;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s;
            margin-left: 20%;
            &:hover {
            background-color: darken(#E53E3E, 10%);
            }
        
            &:active {
            background-color: darken(#E53E3E, 20%);
            }
        }
        .Input {
            margin-block-end: 50px;
        }
    }
    &__moon{
        // display: none;
        position: absolute;
        top: 50%;
        right: -30vw;
        transform: translate(5%, -80%);
        width: 80vw;
        height: auto;
        z-index: -1;
    }
    &__form {
        margin-bottom: 10em;
    }
}

@media only screen and (min-width: 768px){
    .contact {
        &__main {
            overflow: visible;
            padding-block-start: 30em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
        &__title {
            width: 100%;
            padding-left: 178px;
        }
        &__content {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 20px;
            padding-left: 178px;
            button{
                margin-left: 0;
            }
        }
        &__moon{
            top: 50%;
            right: -30vw;
            transform: translate(-150%, -40%);
            width: 35vw;
            height: auto;
            z-index: -1;
        }
        &__form {
            margin-bottom: 0;
            width: 80%;
        }
    }
}

.address {
    background: var(--bg);
    padding: 128px 0;
    &__card {
        grid-column: span 4;
    }
    &__title {
        font-size: 24px;
        margin-bottom: 32px;
    }
    &__part {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subtitle {
        font-size: 20px;
        line-height: 36px;
        opacity: .5;
    }
    &__join {
        @include flexbox;
    }
    &__text {
        font-size: 16px;
        line-height: 36px;
    }
    &__link {
        font-size: 16px;
        line-height: 36px;
    }
    &__separate {
        opacity: .5;
        margin: 0 16px;
        display: flex;
        height: 24px;
        width: 1px;
        background: white;
    }
   
}
