// ----------------------- Imports -----------------------
@import "./styles/Reset.scss";
@import "./styles/Responsive.scss";
@import "./styles/Fonts.scss";
@import "./styles/Variables.scss";
@import "./styles/Mixins.scss";
@import "./styles/Utils.scss";

// ----------------------- General -----------------------
html {
    font-size: calc(9.25px + 0.390625vw);
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    background: $mediumBlue;
    overflow-x: hidden;
}

/* ------------- HEADER BLOCK ------------- */
nav {
    height: 4em;
    position: fixed;
    width: 100%;
    z-index: 30;
    top: 0;
    line-height: 4em;
    text-align: center;
    transition: transform .3s .1s ease-in-out;
}
nav.nav-bar--hidden {
    transform: translateY(-200%);
}

/* ------------- HERO BLOCK ------------- */
.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(#061C45, #062149, #063256, #064E6C, #06748A, #068A9C);
    &__background {
        img {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100%;
            @include phone-portrait {
                bottom: -1px;
            }
            &:first-child {
                top: 120px;
            }
        }
    }
    &__content {
        height: 100vh;
        grid-column: span 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
        @include phone-portrait {
            grid-column: span 12;
        }
    }
    &__moon {
        position: absolute;
        width: 220px;
        right: 295px;
        top: 92px;
        @include phone-portrait {
            top: initial;
            right: 24px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: none;
        }
    }
    &__link {
        @include flexbox;
        margin-left: 24px;
        text-wrap: nowrap;
        img {
            margin-left: 8px;
            transform: rotate(-45deg);
        }
    }
    &__title {
        font-size: $font-size-900;
        font-weight: 700;
        line-height: 5.5rem;
        margin-bottom: 16px;
        @include phone-portrait {
            font-size: 3.5rem;
            line-height: 4.5rem;
        }
        span {
            @include red-title;
        }
    }
    &__text {
        font-size: $font-size-600;
        opacity: .5;
    }
}

/* ------------- ABOUT US BLOCK ------------- */
.about {
    @include grid;
    align-items: center;
    &__img {
        grid-column: span 5;
        width: 100%;
        @include phone-portrait {
            grid-column: span 12;
        }
    }
    &__content {
        grid-column: 7 / 13;
        @include phone-portrait {
            grid-column: span 12;
        }
    }
}

/* ------------- SERVICES BLOCK ------------- */
.services {
    margin: -2%;
    padding: 5%;
    background: $backgroundBlue;
    border-radius: 64px;
    margin-bottom: 200px;
    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 64px;
        @include phone-portrait {
            flex-direction: column;
        }
    }
    &__desc {
        h2 {
            width: 50%;
            @include desktop {width: 55%;}
            @include phone-portrait {width: 100%;}
        }
        p:nth-child(3) {
            width: 68%;
            @include desktop {width: 90%;}
            @include phone-portrait {width: 100%;}
        }
    }
    &__content {
        @include grid;
    }
    @include phone-portrait {
        margin: 0;
        margin-bottom: 50px;
        padding: 40px;
        .spotlight__layout {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

/* ------------- WORKS BLOCK ------------- */
.works {
    &__top {
        @include flexbox;
        justify-content: space-between;
        margin-bottom: 64px;
        @include phone-portrait {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__content {
        @include grid;
        @include phone-portrait {
            display: flex;
            flex-direction: column;
        }
    }
    &__left {
        grid-column: span 6;
    }
    &__right {
        @include flexbox;
        padding: 80px;
        @include phone-portrait {
            padding: 24px;
        }
        grid-column: span 6;
        background: linear-gradient(317deg, #FFDA57 -11.19%, #F56BCF 20.41%, #5956E8 71.73%, #5956E8 110.15%);
        border-radius: 24px;
    }
    &__img {
        width: 100%;
        border-radius: 16px;
    }
}

/* ------------- CONTACT BLOCK ------------- */
.contact {
    @include flexbox;
    justify-content: space-between;
    padding: 128px 80px;
    margin-bottom: 128px;
    background: $backgroundBlue;
    border-radius: 16px;
    @include phone-portrait {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        margin-bottom: 64px;
    }
}

/* ------------- BLOG BLOCK ------------- */
.blogFinal {
    .spotlight {
        &__layout {
            display: flex;
            margin-bottom: 24px;
        }
        &__card {
            padding: 0;
            text-align: start;
        }
    }
    
}

.blog {
    &__top {
        text-align: center;
        margin-bottom: 64px;
    }
    &__articles {
        margin-bottom: 64px;
    }
    &__content {
        @include grid;
        @include dark-gradient;
        padding: 80px;
        @include phone-portrait {
            padding: 24px;
        }
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        .blog__left {
            &.image-left {
                order: 2;
            }
        }
        &:first-child {
            .blog__left {
                @include phone-portrait {
                    order: 1;
                }
            }
        }
    }
    &__left {
        grid-column: span 6;
        @include phone-portrait {
            grid-column: span 12;
        }
    }
    &__category {
        @include flexbox;
        height: 48px;
        border: 1px solid white;
        border-radius: 48px;
        margin-right: 32px;
        padding: 0 24px;
        opacity: .5;
    }
    &__date {
        text-transform: uppercase;
        opacity: .5;
        letter-spacing: 4px;
    }
    &__title {
        margin-top: 24px;
        font-weight: 600;
        font-size: $font-size-600;
        margin-bottom: 8px;
    }
    &__img {
        grid-column: span 5;
        width: 100%;
        @include phone-portrait {
            grid-column: span 12;
        }
    }
    &__action {
        @include flexbox;
        justify-content: center;
    }
}

/* ----------------------- Contact Page ----------------------- */
.contact {
    &__form {
        grid-column: 1/9;
        @include phone-landscape {
            grid-column: span 12;
        }
        a, button {
            margin: 55px 55px;
        }
    }
    &__infos {
        grid-column: 10/13;
        @include phone-landscape {
            grid-column: span 12;
        }
    }
}

/* ----------------------- NotFound Page ----------------------- */
.not-found {
    @include flexbox;
    flex-direction: column;
    text-align: center;
    &__title {
        font-size: 164px;
        font-weight: 600;
        margin-bottom: 64px;

    }
}
.circle {
    @include flexbox;
    justify-content: center;
    @include absolute-center;
    z-index: -1;
    &__single {
        @include absolute-center;
        background: linear-gradient(to bottom, $mediumBlue, $mediumBlue) padding-box,
                    linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
        border: 1px solid transparent;
        border-radius: 100rem;
        height: $size-circle;
        width: $size-circle;
        &:last-child {
            background: linear-gradient(to bottom, $blue, $blue) padding-box,
                        linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
            border: 1px solid transparent;
            filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, .16));
        }
        &:nth-child(2) {
            height: calc($size-circle * 7);
            width: calc($size-circle * 7);
        }
        &:nth-child(3) {
            height: calc($size-circle * 6);
            width: calc($size-circle * 6);
        }
        &:nth-child(4) {
            height: calc($size-circle * 5);
            width: calc($size-circle * 5);
        }
        &:nth-child(5) {
            height: calc($size-circle * 4);
            width: calc($size-circle * 4);
        }
        &:nth-child(6) {
            height: calc($size-circle * 3);
            width: calc($size-circle * 3);
        }
        &:nth-child(7) {
            height: calc($size-circle * 2);
            width: calc($size-circle * 2);
        }
    }
}
