.button-secondary {
    font-weight: 700;
    border-radius: 32px;
    border: 1px solid white;
    height: 64px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    width: fit-content;
}