@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.vision {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 128px;
    height: 870px;
    @include desktop {height: 940px;}
    @include phone-landscape {height: 1020px;}
    @include phone-portrait {height: 900px;}
    &__part {
        display: flex;
        justify-content: space-between;
        .vision__card {
            &.left {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @include tablet {align-items: initial;}
                p {
                    text-align: right;
                    @include tablet {text-align: initial;}
                }
            }
            &.right {
                @include tablet {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                p {
                    @include tablet {text-align: right;}
                }
            }
        }
    }
    &__card {
        width: 312px;
        height: 320px;
    }
    &__icon {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        background: linear-gradient(to bottom, $blue, $blue) padding-box,
                    linear-gradient(to bottom, rgb(120 180 215 / 24%), rgb(10 50 105 / 24%)) border-box;
        border: 1px solid transparent;
        border-radius: 16px;
        width: 96px;
        min-height: 96px;
        cursor: pointer;
    }
    &__illustration {
        @include absolute-center;
        @include desktop {top: 38%;}
        @include phone-landscape {
            top: 50%;
        }
    }
    &__image {
        width: 500px; 
        @include desktop {width: 420px;}
        @include phone-portrait {width: 280px;}
    }
    &__open {
        @include absolute-center;
        display: flex;
    }
    &__light {
        width: 184px;
        position: absolute;
        @include desktop {width: 154px;}
        @include phone-portrait {width: 103px;}
        &:first-child {
            top: -359px;
            left: -94px;
            @include desktop {
                top: -300px;
                left: -79px;
            }
            @include phone-portrait {
                top: -201px;
                left: -53px;
            }
        }
        &:nth-child(2) {
            top: -286px;
            left: 33px;
            @include desktop {
                top: -239px;
                left: 28px;
            }
            @include phone-portrait {
                top: -160px;
                left: 19px;
            }
        }
        &:nth-child(3) {
            top: -286px;
            left: -221px;
            @include desktop {
                top: -239px;
                left: -185px;
            }
            @include phone-portrait {
                top: -160px;
                left: -124px;
            }
        }
        &:nth-child(4) {
            top: -213px;
            left: -94px;
            @include desktop {
                top: -177px;
                left: -79px;
            }
            @include phone-portrait {
                top: -119px;
                left: -53px;
            }
        }
    }
    @include phone-portrait {
        .vision__card:nth-of-type(even) .vision__text {
            text-align: right;
        }
        .vision__card {
            .vision__text {
                max-width: 220px;
            }
        }
    }
}

