@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";

.bottom-bar {
    @include flexbox;
    justify-content: space-between;
    padding: 64px;
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
}

.lang {
    @include flexbox;
    &__text {

    }
    &__split {
        border: 1px solid $lightGray;
        width: 24px;
        margin: 0 8px;
    }
}
.sound {
    @include flexbox;
    &__icon {
        margin-right: 12px;
    }
    &__text {

    }
}
