@import "/src/styles/Variables.scss";
@import "/src/styles/Mixins.scss";
@import "/src/styles/Responsive.scss";

.timeline {
    position: relative;
    max-width: 800px;
    margin: 100px auto;

    &__container {
        padding: 10px 50px;
        position: relative;
        width: 50%;
        animation: movedown 1s linear forwards;
        opacity: 0;
        &.left-container {
            left: 0;
        }
        &.right-container {
            left: 50%;
            img {
                left: -20px;
                right: auto;
            }
        }
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              animation-delay: ($i - 1) * 1s;
            }
        }
    }
    &__icon {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left: -25px;
        top: 32px;
        z-index: 10;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        img {
            background-color: $lightBlue;
            border-radius: 50%;
            padding: 10px;
        }
    }
    &__date {
        &.left{
            position: absolute;
            top: 45px;
            left: -70px;
        }
        &.right{
            position: absolute;
            top: 45px;
            right: -70px;
        }
    }
    &__round {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        right: -20px;
        top: 32px;
        z-index: 10;
        background-color: $lightBlue;
    }
    &__textBox {
        padding: 20px 30px;
        background: #fff;
        color: black;
        position: relative;
        border-radius: 6px;
        font-size: 15px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: #fff;
        top: 0;
        left: 50%;
        margin-left: -3px;
        z-index: 1;
        animation: moveline 9s linear forwards;
    }
    
    &__arrow-left {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #fff;
        right: -15px;
    }
    &__arrow-right {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
        left: -15px;
    }
}
@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}