@(lang: String)

@main("Bienvenu a Lunatech", lang) {

<body>
	<div class="intro">
		<h1 class="logo-header">
			<img class="logo" src="@routes.Assets.versioned("images/img-layout/lunatech_square_intro_logo.svg")" alt="Lunatech Logo Square Intro">
			<img class="logo" src="@routes.Assets.versioned("images/img-layout/lunatech_text_intro_logo.svg")" alt="Lunatech Logo Text Intro">
		</h1>
	</div>

    <div class="section1">
        <div class="section1-top">
            <a href="/"><img src="@routes.Assets.versioned("images/img-layout/lunatech_logo.svg")" onload="SVGInject(this)"></a>
            <div class="dflex">
                <button class="c-theme" id="themePicker">
                    <div class="c-theme-grid" id="themeGrid"></div>
                </button>
			    <div class="menu">
                    <button class="menu__btn" id="menu-toggle">
                        <div class="menu__col"><span class="menu__square"></span><span class="menu__square"></span><span class="menu__square"></span></div>
                        <div class="menu__col"><span class="menu__square"></span><span class="menu__square"></span><span class="menu__square"></span></div>
                        <div class="menu__col"><span class="menu__square"></span><span class="menu__square"></span><span class="menu__square"></span></div>
                    </button>

                    <div class="menu__overlay is-hidden" id="menu-content">
                        <div class="menu__list">
                            <a href="https://blog.lunatech.com/" target="_blank">Blog</a>
                            <a href="https://recruitment.lunatech.com/" target="_blank">Rejoignez-nous</a>    
                        </div>
                    </div>
                </div>
			</div>
        </div>
        <div class="iframe">
            <img src="@routes.Assets.versioned("images/img-layout/lunatech_logo_draw.svg")" onload="SVGInject(this)">
            <img src="@routes.Assets.versioned("images/img-layout/lunatech_baseline.svg")" onload="SVGInject(this)">
        </div>
        <div class="section1-bottom">
            <div class="language">
                <a href="/en/">En</a>
                <span></span>
                <a href="/fr/">Fr</a>
            </div>
			<a class="mouse-scroll" href="#"> 
				<span class="mouse">
					<span class="mouse-movement"> </span>
				</span>
				<span class="mouse-message fadeIn">Scroll</span> 
			</a>
			<div class="social">
				<button class="social__btn" id="social-toggle">Suivez-nous</button>
				<div class="social__overlay is-hidden" id="social-content">
					<div class="social__list">
						<a class="social__link" href="https://github.com/lunatech-labs"><img src="@routes.Assets.versioned("images/img-content/github.svg")" onload="SVGInject(this)"></a>
                        <a class="social__link" href="https://www.instagram.com/lunatech_nl"><img src="@routes.Assets.versioned("images/img-content/instagram.svg")" onload="SVGInject(this)"></a>
						<a class="social__link" href="https://www.linkedin.com/company/lunatech-research"><img src="@routes.Assets.versioned("images/img-content/linkedin.svg")" onload="SVGInject(this)"></a>
						<a class="social__link" href="https://twitter.com/lunatechlabs"><img src="@routes.Assets.versioned("images/img-content/twitter.svg")" onload="SVGInject(this)"></a>
					</div>
				</div>
			</div>
        </div>
        <div class="lines">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
        </div>
    </div>

    <div class="section2">
        <div class="container w100">
            <div class="grid">
                <p class="section2__summary">À propos</p>
                <h2 class="section2__title">Croire en<br />la simplicité.</h2>
            </div> 
        </div>
        <div class="pr w100">
            <div class="container">
                <div class="grid">
                    <div class="section2__content">
                        <p class="section2__text">En travaillant en étroite collaboration avec nos clients, nous veillons à ce que leurs besoins commerciaux soient compris et satisfaits. Grâce à des relations de longue date (plus de 20 ans), nous nous efforçons d'obtenir des livraisons dans les délais, des systèmes faciles à maintenir et des solutions simples.</p>
                        <p class="section2__subtitle">De 100k <br />à 15k de lignes de code.</p>
                        <p class="section2__text">L'attention que nous portons aux objectifs à atteindre et la compréhension approfondie de votre activité garantissent un code plus intelligent et plus efficace.</p>
                    </div>
                </div>
            </div>
            <img class="section2__img" src="@routes.Assets.versioned("images/img-content/laptop_draw.svg")" alt="Laptop Draw">
        </div>
        <div class="section2-circles">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>

    <div class="services">
        <div class="container-fluid">
            <div class="grid gg0">
                <h2 class="services__title">Expertise<br />& services</h2>
                <div class="services__part">
                    <p class="services__subtitle">Java, Kotlin & Scala</p>
                    <p class="services__text">Avec 30 ans d'expérience dans le conseil informatique, nous proposons diverses technologies pour répondre à vos besoins immédiats et favoriser votre croissance future.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Devops</p>
                    <p class="services__text">Le mouvement DevOps établit un pont entre les développeurs et les opérations. Nos experts vont vous aider à mettre en place, auditer et améliorer cet état d’esprit au sein de votre organisation.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Front-end</p>
                    <p class="services__text">Nous créons des tableaux de bord, sites web et des applications web réactifs pour fournir une vue dans les importants systèmes que vous utilisez, pour fournir de l’intelligence métier et pour faciliter la communication.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Big data</p>
                    <p class="services__text">Nous avons la connaissance et l’expérience pour mettre en place une architecture Big Data. Et nous utilisons aussi des frameworks de Machine Learning et d'Intelligence Artificielle pour créer de la valeur à partir de la donnée.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Machine learning</p>
                    <p class="services__text mgb32">We design and implement intelligent systems that learn and improve over time.</p>
                    <p class="services__subtitle">Test automation</p>
                    <p class="services__text">Nous automatisons le testing et faisons en sorte que tous les tests tournent avant un deploiement. Nous nous occupons aussi d'écrire les scénarios de tests.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Intégration des systèmes</p>
                    <p class="services__text">Nous vous aidons à transformer votre paysage IT en comblant l’espace entre vos anciennes et nouvelles applications. Ensemble, nous rendons vos systèmes plus durables, modernes, évolutifs, communicatifs et ayant une grande efficacité en matière de coûts.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="office">
        <div class="container-fluid">
            <div class="dflex">
                <div class="office__part">
                    <div>
                        <p class="office__country">Pays-Bas</p>
                        <p class="office__city">Rotterdam</p>
                    </div>
                </div>
                <div class="office__part">
                    <div>
                        <p class="office__country">France</p>
                        <p class="office__city">Paris</p>
                    </div>
                </div>
                <div class="office__part">
                    <div>
                        <p class="office__country">Belgique</p>
                        <p class="office__city">Bruxelles</p>
                    </div>
                </div>
                <div class="office__part">
                    <div>
                        <p class="office__country">Royaume-Uni</p>
                        <p class="office__city">Newcastle</p>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="container">
        <div class="client">
            <div class="grid">
                <div class="client__content">
                    <h2 class="client__title">Ils nous font confiance</h2>
                    <p class="client__text">Nous travaillons avec les esprits les plus brillants de sociétés innovatrices et pionnières.<br />Notre expertise d’ingénieurs logiciels leur donne l’espace pour expérimenter et faire de la recherche, de l’espace pour rêver, croître et exceller.</p>
                    <div class="client__group">
                        <div class="client__card">
                            <img class="client__logo" src="/assets/images/customers/UPS-Logo.png" alt="UPS Logo"/>
                        </div>
                        <div class="client__card">
                            <img class="client__logo" src="/assets/images/customers/Audi-Logo.png" alt="Audi Logo"/>
                        </div>
                        <div class="client__card">
                            <img class="client__logo" src="/assets/images/customers/DHL-Logo.png" alt="DHL Logo"/>
                        </div>
                        <div class="client__card">
                            <img class="client__logo" src="/assets/images/customers/MS-Amlin-Logo.png" alt="MS Amlin Logo"/>
                        </div>
                        <div class="client__card">
                            <img class="client__logo" src="/assets/images/customers/ING-Logo.png" alt="ING Logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="separate"></div>

        <div class="partner">
            <h2 class="partner__title">Nos partenaires</h2>
            <div class="partner__part">
                <img src="@routes.Assets.versioned("images/img-content/partners/aws-logo.svg")" onload="SVGInject(this)">
                <img class="partner__logo" src="/assets/images/img-content/partners/partners5.png" alt="Clever Cloud Logo"/>
                <img src="@routes.Assets.versioned("images/img-content/partners/google-cloud-logo.svg")" onload="SVGInject(this)">
                <img src="@routes.Assets.versioned("images/img-content/partners/lightbend-logo.svg")" onload="SVGInject(this)">
                <img src="@routes.Assets.versioned("images/img-content/partners/redhat-logo.svg")" onload="SVGInject(this)">
                <img class="partner__logo" src="/assets/images/img-content/partners/partners1.png" alt="Scala Center Logo"/>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <div class="grid">
                <div class="contact__card">
                    <p class="contact__title">Pays-Bas</p>
                    <div class="contact__part">
                        <p class="contact__subtitle">Développement de l'activité</p>
                        <div class="contact__join">
                            <a class="contact__link" href="mailto:info@@lunatech.nl">info@@lunatech.nl</a>
                            <span></span>
                            <a class="contact__link" href="tel:+31107502600">+31 10 750 2600</a>
                        </div>
                    </div>
                    <div class="contact__part">
                        <p class="contact__subtitle">Carrières</p>
                        <a class="contact__link" href="mailto:employment@@lunatech.nl">employment@@lunatech.nl</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__subtitle">Adresse</p>
                        <p class="contact__text">Hofplein 20</p>
                        <p class="contact__text">3032 AC Rotterdam</p>
                    </div>
                </div>
                <div class="contact__card">
                    <p class="contact__title">France</p>
                    <div class="contact__part">
                        <p class="contact__subtitle">Développement de l'activité</p>
                        <div class="contact__join">
                            <a class="contact__link" href="mailto:info@@lunatech.fr">info@@lunatech.fr</a>
                            <span></span>
                            <a class="contact__link" href="tel:+33182885664">+33 1 82 88 56 64</a>
                        </div>
                    </div>
                    <div class="contact__part">
                        <p class="contact__subtitle">Carrières</p>
                        <a class="contact__link" href="mailto:employment@@lunatech.nl">employment@@lunatech.fr</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__subtitle">Adresse</p>
                        <p class="contact__text">3 rue de la Galmy</p>
                        <p class="contact__text">77700 Chessy</p>
                    </div>
                </div>
                <div class="contact__card">
                    <p class="contact__title">Belgique</p>
                    <div class="contact__part">
                        <p class="contact__subtitle">Développement de l'activité</p>
                        <div class="contact__join">
                            <a class="contact__link" href="mailto:info@@lunatech.be">info@@lunatech.be</a>
                            <span></span>
                            <a class="contact__link" href="tel:+3228085713">+32 2 808 57 13</a>
                        </div>
                    </div>
                    <div class="contact__part">
                        <p class="contact__subtitle">Carrières</p>
                        <a class="contact__link" href="mailto:employment@@lunatech.be">employment@@lunatech.be</a>
                    </div>
                </div>
                <div class="contact__card">
                    <p class="contact__title">Royaume-Uni</p>
                    <div class="contact__part">
                        <p class="contact__subtitle">Développement de l'activité</p>
                        <div class="contact__join">
                            <a class="contact__link" href="tel:+3228085713">+44 (0) 7875 695 964</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__part">
                <img src="@routes.Assets.versioned("images/img-layout/lunatech_logo.svg")" onload="SVGInject(this)">
                <a href="https://blog.lunatech.com/" target="_blank">Blog</a>
                <a href="https://recruitment.lunatech.com/" target="_blank">Rejoignez-nous</a>
                <div class="dflex">
                    <a class="footer__link" href="https://github.com/lunatech-labs"><img src="@routes.Assets.versioned("images/img-content/github.svg")" onload="SVGInject(this)"></a>
                    <a class="footer__link" href="https://www.instagram.com/lunatech_nl"><img src="@routes.Assets.versioned("images/img-content/instagram.svg")" onload="SVGInject(this)"></a>
                    <a class="footer__link" href="https://www.linkedin.com/company/lunatech-research"><img src="@routes.Assets.versioned("images/img-content/linkedin.svg")" onload="SVGInject(this)"></a>
                    <a class="footer__link" href="https://twitter.com/lunatechlabs"><img src="@routes.Assets.versioned("images/img-content/twitter.svg")" onload="SVGInject(this)"></a>
                </div>
            </div>
            <div class="footer__part">
                <p>© <script>document.write(new Date().getFullYear())</script> Lunatech. Tous droits réservés.</p>
                <a href="/assets/docs/Lunatech-General_Terms_and_Conditions.pdf" target="_blank">Conditions de service</a>
            </div>
        </div>
    </footer>
</body>
}