@(lang: String)

@main("Welcome to Lunatech", lang) {

<body>
	<div class="intro">
		<h1 class="logo-header">
			<img class="logo" src="@routes.Assets.versioned("images/img-layout/lunatech_square_intro_logo.svg")" alt="Lunatech Logo Square Intro">
			<img class="logo" src="@routes.Assets.versioned("images/img-layout/lunatech_text_intro_logo.svg")" alt="Lunatech Logo Text Intro">
		</h1>
	</div>

    <div class="section1">
        <div class="section1-top">
			<a href="/"><img src="@routes.Assets.versioned("images/img-layout/lunatech_logo.svg")" alt="Lunatech Logo"></a>
			<div class="menu">
				<button class="menu__btn" id="menu-toggle">
					<div class="menu__col"><span class="menu__square"></span><span class="menu__square"></span><span class="menu__square"></span></div>
					<div class="menu__col"><span class="menu__square"></span><span class="menu__square"></span><span class="menu__square"></span></div>
					<div class="menu__col"><span class="menu__square"></span><span class="menu__square"></span><span class="menu__square"></span></div>
				</button>
				<div class="menu__overlay is-hidden" id="menu-content">
					<div class="menu__list">
						<a href="https://blog.lunatech.com/" target="_blank">Blog</a>
						<a href="https://recruitment.lunatech.com/" target="_blank">Join us</a>
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                          </label>
                          <div class="description">Dark Mode</div>
                        </div>            
					</div>
				</div>
			</div>
        </div>
        <div class="iframe">
            <img class="iframe__logo" src="@routes.Assets.versioned("images/img-layout/lunatech_logo_draw.svg")" alt="Lunatech Logo Draw">
            <img class="iframe__baseline" src="@routes.Assets.versioned("images/img-layout/lunatech_baseline.svg")" alt="Lunatech Logo Baseline">
        </div>
        <div class="section1-bottom">
            <div class="language">
                <a href="/en/">En</a>
                <span></span>
                <a href="/fr/">Fr</a>
            </div>
			<a class="mouse-scroll" href="#"> 
				<span class="mouse">
					<span class="mouse-movement"> </span>
				</span>
				<span class="mouse-message fadeIn">Scroll</span> 
			</a>
			<div class="social">
				<button class="social__btn" id="social-toggle">Follow us</button>
				<div class="social__overlay is-hidden" id="social-content">
					<div class="social__list">
						<a class="social__link" href="https://www.linkedin.com/company/lunatech-research"><img src="@routes.Assets.versioned("images/img-content/linkedin.svg")" alt="Linkedin Logo"></a>
						<a class="social__link" href="https://twitter.com/lunatechlabs"><img src="@routes.Assets.versioned("images/img-content/twitter.svg")" alt="Twitter Logo"></a>
						<a class="social__link" href="https://github.com/lunatech-labs"><img src="@routes.Assets.versioned("images/img-content/github.svg")" alt="Github Logo"></a>
						<a class="social__link" href="https://www.instagram.com/lunatech_nl"><img src="@routes.Assets.versioned("images/img-content/instagram.svg")" alt="Instagram Logo"></a>
					</div>
				</div>
			</div>
        </div>
        <div class="lines">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
        </div>
    </div>

    <div class="section2">
        <img class="section2__img" src="@routes.Assets.versioned("images/img-content/laptop_draw.svg")" alt="Laptop Draw">
        <div class="container">
            <div class="grid">
                <p class="section2__summary">About</p>
                <h2 class="section2__title">We believe<br />in simplicity.</h2>
                <div class="section2__content">
                    <p class="section2__text">Working closely with our clients, we ensure that their business needs are understood and met. With long-standing relationships of over 20 years, we work to achieve timely deliveries, maintainable systems, and simple solutions.</p>
                    <p class="section2__subtitle">From 100k <br />to 15k lines of Code.</p>
                    <p class="section2__text">Our focus on what we must achieve and a profound understanding of your business guarantees a smarter and more efficient code.</p>
                </div>

            </div> 
            <div class="section2-circles">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container-fluid">
            <div class="grid gg0">
                <h2 class="services__title">Expertise<br />& services</h2>
                <div class="services__part">
                    <p class="services__subtitle">Java, Kotlin & Scala</p>
                    <p class="services__text">With 30 years of experience in IT consulting, we offer diverse technologies to meet your immediate needs and foster future growth.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Devops</p>
                    <p class="services__text">The DevOps movement bridges the gap between developers and operations. Our experts will support you with implementing, auditing and improving this mindset throughout your organisation.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Front-end</p>
                    <p class="services__text">We build custom dashboards, websites and responsive web applications to get an insight into the large systems you run, provide business intelligence and improve communication.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Big data</p>
                    <p class="services__text">We have the expertise to provide an architecture for Big Data. We also use machine learning and artificial intelligence frameworks to help create value.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">Machine learning</p>
                    <p class="services__text mgb32">We design and implement intelligent systems that learn and improve over time.</p>
                    <p class="services__subtitle">Test automation</p>
                    <p class="services__text">We automate testing and make sure test are running prior to deployment. We also take care of writing test scenarios.</p>
                </div>
        
                <div class="services__part">
                    <p class="services__subtitle">System integration</p>
                    <p class="services__text">We help you transform your IT landscape, bridging the gap between your legacy and new applications. Together, we make your IT systems sustainable, cutting edge, communicative and cost effective.</p>
                </div>
            </div>
        </div>
    </div>

	<div class="city">
        <div class="container">
            <div class="grid gg0">
                <div class="city__part">
                    <div>
                        <p class="city__country">Netherlands</p>
                        <p class="city__place">Amsterdam</p>
                    </div>
                </div>
                <div class="city__part">
                    <div>
                        <p class="city__country">Netherlands</p>
                        <p class="city__place">Rotterdam</p>
                    </div>
                </div>
                <div class="city__part">
                    <div>
                        <p class="city__country">France</p>
                        <p class="city__place">Paris</p>
                    </div>
                </div>
                <div class="city__part">
                    <div>
                        <p class="city__country">Belgium</p>
                        <p class="city__place">Brussels</p>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<div class="client">
        <div class="container">
            <h2 class="client__title">Trusted by global businesses</h2>
            <div class="client__flex">
                <p class="client__text">We work with the best minds from groundbreaking companies. Our software engineering expertise gives them the space to experiment and conduct research, dream, grow and excel.</p>
                <div class="client__group">
                    <div class="client__card">
                        <img class="client__logo" src="/assets/images/customers/UPS-Logo.png" alt="UPS Logo"/>
                    </div>
                    <div class="client__card">
                        <img class="client__logo" src="/assets/images/customers/Audi-Logo.png" alt="Audi Logo"/>
                    </div>
                    <div class="client__card">
                        <img class="client__logo" src="/assets/images/customers/DHL-Logo.png" alt="DHL Logo"/>
                    </div>
                    <div class="client__card">
                        <img class="client__logo" src="/assets/images/customers/MS-Amlin-Logo.png" alt="MS Amlin Logo"/>
                    </div>
                    <div class="client__card">
                        <img class="client__logo" src="/assets/images/customers/ING-Logo.png" alt="ING Logo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partner">
        <div class="container">
            <h2 class="partner__title">Our<br />partners</h2>
            <div class="partner__grid">
                <div class="partner__card">
                    <img class="partner__logo" src="/assets/images/img-content/partners/partners1.png" alt="Scala Center Logo"/>
                </div>
                <div class="partner__card">
                    <img class="partner__logo" src="/assets/images/img-content/partners/partners2.png" alt="Lightbend Logo"/>
                </div>
                <div class="partner__card">
                    <img class="partner__logo" src="/assets/images/img-content/partners/partners3.png" alt="Redhat Logo"/>
                </div>
                <div class="partner__card">
                    <img class="partner__logo" src="/assets/images/img-content/partners/partners4.png" alt="AWS Logo"/>
                </div>
                <div class="partner__card">
                    <img class="partner__logo" src="/assets/images/img-content/partners/partners5.png" alt="Clever Cloud Logo"/>
                </div>
                <div class="partner__card">
                    <img class="partner__logo" src="/assets/images/img-content/partners/partners6.png" alt="Google Cloud Logo"/>
                </div> 
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <div class="contact__grid">
                <div class="contact__card">
                    <div class="contact__part">
                        <p class="contact__cat">Business development</p>
                        <a class="contact__link" href="mailto:info@@lunatech.nl">info@@lunatech.nl</a>
                        <a class="contact__link" href="tel:+31107502600">+31 10 750 2600</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__cat">Careers</p>
                        <a class="contact__link" href="mailto:employment@@lunatech.nl">employment@@lunatech.nl</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__cat">Netherlands</p>
                        <div class="contact__flex">
                            <div>
                                <p class="contact__text">Rotterdam</p>
                                <p class="contact__text">Hofplein 20<br />3032 AC</p>
                            </div>
                            <div>
                                <p class="contact__text">Amsterdam</p>
                                <p class="contact__text">Van Leijenberghlaan 197A<br />1082 GG</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact__card">
                    <div class="contact__part">
                        <p class="contact__cat">Business development</p>
                        <a class="contact__link" href="mailto:info@@lunatech.fr">info@@lunatech.fr</a>
                        <a class="contact__link" href="tel:+33182885664">+ 33 1 82 88 56 64</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__cat">Careers</p>
                        <a class="contact__link" href="mailto:employment@@lunatech.fr">employment@@lunatech.fr</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__cat">France</p>
                        <div>
                            <p class="contact__text">Chessy</p>
                            <p class="contact__text">3 Rue de la Galmy<br />77700</p>
                        </div>
                    </div>
                </div>
                <div class="contact__card">
                    <div class="contact__part">
                        <p class="contact__cat">Business development</p>
                        <a class="contact__link" href="mailto:info@@lunatech.be">info@@lunatech.be</a>
                        <a class="contact__link" href="tel:+3228085713">+ 32 2 808 57 13</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__cat">Careers</p>
                        <a class="contact__link" href="mailto:employment@@lunatech.be">employment@@lunatech.be</a>
                    </div>
                    <div class="contact__part">
                        <p class="contact__cat">Belgium</p>
                        <div>
                            <p class="contact__text">Brussels</p>
                            <p class="contact__text">55 Rue d'Arlon<br />1040</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__part">
                <a class="logo-visual" href="/"><img src="@routes.Assets.versioned("images/img-layout/lunatech_logo_square.svg")" alt="Lunatech Logo Square"></a>
                <a href="https://blog.lunatech.com/" target="_blank">Blog</a>
                <a href="https://recruitment.lunatech.com/" target="_blank">Join us</a>
                <div class="footer__social">
                    <a class="footer__link" href="https://www.linkedin.com/company/lunatech-research"><img src="@routes.Assets.versioned("images/img-content/linkedin-f.svg")" alt="linkedin logo"></a>
                    <a class="footer__link" href="https://twitter.com/lunatechlabs"><img src="@routes.Assets.versioned("images/img-content/twitter-f.svg")" alt="twitter logo"></a>
                    <a class="footer__link" href="https://github.com/lunatech-labs"><img src="@routes.Assets.versioned("images/img-content/github-f.svg")" alt="github logo"></a>
                    <a class="footer__link" href="https://www.instagram.com/lunatech_nl"><img src="@routes.Assets.versioned("images/img-content/instagram-f.svg")" alt="instagram logo"></a>
                </div>
            </div>
            <div class="footer__part">
                <p>© 2023 Lunatech. All rights reserved.</p>
                <a href="/assets/docs/Lunatech-General_Terms_and_Conditions.pdf" target="_blank">Terms of service</a>
            </div>
        </div>
    </footer>
</body>
}