@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, lang: String)(content: Html)
<!DOCTYPE html>
<html lang="@lang">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Lunatech - Simplify your IT">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="content-language" content="en">
        <meta name="locale" content="en">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lunatech - Simplify your IT</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@@48,400,0,0" />

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">

    </head>

    @content

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>

    <script src="/assets/javascripts/intro.js"></script>
    <script src="/assets/javascripts/theme.js"></script>
    <script src="/assets/javascripts/menu.js"></script>
    <script src="/assets/javascripts/social.js"></script>
    <script src="/assets/javascripts/svg-inject.js"></script>
</html>