@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, lang: String)(content: Html)
<!DOCTYPE html>
<html lang="@lang">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lunatech - Simplify your IT</title>
        <meta name="description" content="Lunatech - Simplify your IT">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="content-language" content="en">
        <meta name="locale" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content=">Lunatech - Simplify your IT">
        <meta property="og:description" content=">Lunatech - Simplify your IT">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        

        <script type="module" crossorigin src="/assets/javascripts/vendor.ada8cd82.js"></script>
        <script type="module" crossorigin src="/assets/javascripts/index.3f0810aa.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@@400;500;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/assets/stylesheets/index.e6e69276.css">
        <link rel="stylesheet" href="/assets/stylesheets/geoff.css">
        <link rel="stylesheet" href="/assets/stylesheets/cursor.css">
    </head>

    @content

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="/assets/javascripts/test.js"></script>

</html>