.contact {
    background: #272729;
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    @include desktop {
        display: block;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
    }
    &__card {
        grid-column: span 4;
        padding: 96px;
        color: white;
        &:first-child {
            border-right: 1px solid rgba(255,255,255,0.25);
            @include desktop {
                grid-column: span 12;
                border-right: none;
                border-bottom: 1px solid rgba(255,255,255,0.25);
            }
        }
        &:nth-child(2) {
            border-right: 1px solid rgba(255,255,255,0.25);
            @include desktop {
                grid-column: span 6;
            }
            @include phone-landscape {
                grid-column: span 12;
                border-bottom: 1px solid rgba(255,255,255,0.25);
            }
        }
        &:nth-child(3) {
            @include desktop {
                grid-column: span 6;
            }
            @include phone-landscape {
                grid-column: span 12;
            }
        }
    }
    &__part {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__cat {
        font-size: 24px;
    }
    &__text {
        opacity: .5;
        font-size: 20px;
    }
    &__link {
        opacity: .5;
        font-size: 20px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        @include phone-landscape {
            flex-direction: column;
        }
        > div:first-child {
            @include phone-landscape {
                margin-bottom: 32px;
            }
        }
    }
}