.contact {
    background: var(--bg);
    padding: 80px;
    @include phone-landscape {
        padding: 64px 32px;
    }
    &__card {
        grid-column: span 3;
        @include desktop {
            grid-column: span 6;
        }
        &:first-child {
            @include desktop {
                margin-bottom: 64px;
            }
        }
        &:nth-child(2) {
            @include desktop {
                margin-bottom: 64px;
            }
        }
    }
    &__title {
        color: var(--text-primary);
        font-size: 24px;
        margin-bottom: 32px;
    }
    &__part {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subtitle {
        color: var(--text-primary);
        font-size: 20px;
        line-height: 36px;
    }
    &__join {
        @include flexbox;
        @include tablet {
            display: flex;
            align-items: initial;
            flex-direction: column;
        }
        span {
            margin: 0 16px;
            display: flex;
            height: 24px;
            width: 1px;
            background: var(--border);
            @include tablet {
                display: none;
            }
        }
    }
    &__text {
        color: var(--text-secondary);
        font-size: 20px;
        line-height: 36px;
    }
    &__link {
        color: var(--text-secondary);
        font-size: 20px;
        line-height: 36px;
    }
   
}