.footer {
    background: black;
    color: white;
    padding: 54px 128px;
    &__part {
        @include flexbox;
        justify-content: space-between;
        &:first-child {
            border-bottom: 1px solid #ffffff4D;
            padding-bottom: 32px;
        }
        &:last-child {
            padding-top: 32px;
        }
    }
    &__social {
        @include flexbox;
    }
    &__link {
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 20px;
        }
    }
}