.language {
    @include flexbox;
    color: var(--text-primary);
    a:hover {
        text-decoration: underline;
    }
    span {
        border-bottom: 1px solid var(--border);
        width: 24px;
        display: block;
        margin: 0 8px;
    }
}
