.language {
    display: flex;
    align-items: center;
    a:hover {
        border-bottom: 2px solid black;
    }
    span {
        border-bottom: 1px solid #161618;
        width: 24px;
        display: block;
        margin: 0 8px;
    }
}
