.office {
    min-height: 1120px;
    background: var(--bg);
    @include desktop {
        min-height: initial;
    }
    @include tablet {
        overflow-x: scroll;
        height: 960px;
    }
    @include phone-landscape {
        height: initial;
    }
    &__part {
        width: 25%;
        @include flexbox;
        border-right: $border;
        flex-direction: column;
        justify-content: center;
        height: 1120px;
        transition: 1s;
        background-position: 60%;
        @include desktop {
            width: 50%;
            height: 740px;
        }
        @include tablet {
            height: 960px;
            min-width: 260px;
        }
        @include phone-landscape {
            height: 460px;
        }
        &:first-child {
            border-left: $border;
        }
        &:hover {
            background-position: 50%;
            background-size: cover;
        }
        &:hover .office__country {
            color: rgba(255, 255, 255, 0.828);
        }
        &:hover .office__city {
            color: white;
        }
        &:hover > div {
            background: black;
        }
        &:first-child:hover {
            background-image: url("/assets/images/img-content/rotterdam.jpg");
        }
        &:nth-child(2):hover {
            background-image: url("/assets/images/img-content/paris.jpg");
        }
        &:nth-child(3):hover {
            background-image: url("/assets/images/img-content/brussels.jpg");
        }
        &:nth-child(4):hover {
            background-image: url("/assets/images/img-content/newcastle.jpg");
        }
        > div {
            padding: 8px 16px;
            
        }
    }
    &__country {
        color: var(--text-secondary)
    }
    &__city {
        font-size: 48px;
        line-height: 48px;
        @include desktop {
            font-size: 32px;
        }
    }
}