/* --------------------------------- SECTION 1 --------------------------------- */
.section1 {
    padding: 80px;
    color: #161618;
    height: 965px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;

    @include phone-landscape {
        padding: 32px;
    }
}
.iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    &__logo {
        height: 480px;
        margin-bottom: 48px;
    }

    &__baseline {
        height: 24px;
    }
}
.section1-top {
    @include flexbox;
    justify-content: space-between;
}
.section1__iframe {

    img {
        height: 32px;
    }

    @include phone-landscape {
        width: 72%;
        margin: 0 auto;
    }
}
.section1-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

/* --------------------------------- SECTION 2 --------------------------------- */
.section2 {
    padding: 256px 0;
    background: var(--bg2);
    @include flexbox;
    position: relative;
    overflow: hidden;
    position: relative;
    @include phone-landscape {
        height: initial;
        padding: 192px 32px;
    }
    &__img {
        position: absolute;
        bottom: 178px;
    }
    &__summary {
        font-size: 32px;
        grid-column: 3 / 11;
        color: var(--text-secondary);
    }
    &__title {
        font-size: 128px;
        grid-column: 3 / 11;
        margin-bottom: 160px;
        @include desktop {
            font-size: 96px;
            line-height: 128px;
        }

        @include tablet {
            font-size: 72px;
            line-height: 88px;
        }

        @include phone-landscape {
            font-size: 40px;
            line-height: 48px;
            grid-column: span 12;
        }
    }
    &__subtitle {
        font-size: 64px;
        margin-bottom: 64px;
    }
    &__content {
        grid-column: 6 / 12;
    }
    &__text {
        font-size: 24px;
        color: var(--text-secondary);
        line-height: 36px;
        @include desktop {
            grid-column: 5 / 11;
        }
    
        @include tablet {
            grid-column: 5 / 12;
            font-size: 24px;
        }
    
        @include phone-landscape {
            grid-column: 3 / 13;
            font-size: 24px;
        }
        &:first-child {margin-bottom: 64px;}
        &:nth-child(3) {padding-left: 64px;}
    }
}
.section2-circles {
    position: absolute;
    @include flexbox;
    justify-content: center;
    width: 542px;
    height: 542px;
    bottom: -271px;
    right: -271px;
}
.section2-circles div {
    position: absolute;
    border-radius: 25em;
}
.circle1 {
    width: 542px;
    height: 542px;
    opacity: .75;
    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        border: 1px dashed var(--text-primary);
        border-radius: inherit;
        animation: spin 30s linear infinite;
    }
}
.circle2 {
    width: 404px;
    height: 404px;
    border: 1px solid var(--text-primary);
    opacity: .5;
}
.circle3 {
    width: 284px;
    height: 284px;
    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        border: 1px dashed #EA212E;
        border-radius: inherit;
        animation: spin 30s linear infinite;
    }
}
.circle4 {
    width: 174px;
    height: 174px;
    border: 1px solid var(--text-primary);
    opacity: .25;
}
@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

/* --------------------------------- SECTION 4 --------------------------------- */
.section4 {
    padding: 0 80px;
    height: 1120px;
    background: white;
    @include flexbox;
    justify-content: center;
    flex-direction: column;
    position: relative;

    @include phone-landscape {
        padding: 64px 32px;
        height: initial;
    }

    >div {
        @include flexbox;
        justify-content: space-between;
    }

    svg {
        width: 50%;
        margin-left: -80px;
    }

    .section4-part {
        width: 40%;

        @include desktop {
            width: 50%;
        }
    }
}
.section4-title {
    font-size: 96px;
    line-height: 108px;

    @include desktop {
        font-size: 56px;
        line-height: 68px;
    }

    @include tablet {
        font-size: 56px;
        line-height: 72px;
    }

    @include phone-landscape {
        font-size: 72px;
        line-height: 80px;
    }

    @include phone-landscape {
        font-size: 36px;
        line-height: 48px;
        grid-column: span 12;
    }
}
.section4-text {
    font-size: 23px;
    opacity: .5;
    margin-top: 32px;
    padding-left: 160px;

    @include desktop {
        padding-left: 80px;
    }

    @include tablet {
        padding-left: 32px;
        font-size: 20px;
    }

    @include phone-landscape {
        grid-column: 4 / 13;
    }
}

/* --------------------------------- SECTION 5 --------------------------------- */
.section5 {
    height: 1120px;
    background: #272729;
    color: white;

    @include tablet {
        height: initial;
    }

    &__part {
        grid-column: span 3;

        @include tablet {
            grid-column: span 6;
        }

        @include phone-landscape {
            grid-column: span 12;
        }
    }
}
.section5 .section5-2,
.section5 .section5-3,
.section5 .section5-4,
.section5 .section5-5,
.section5 .section5-6,
.section5 .section5-7 {
    padding: 80px;
    display: flex;
    flex-direction: column;
    height: 560px;

    @include tablet {
        grid-row: initial;
        height: initial;
    }

    @include phone-landscape {
        border-right: none;
    }
}

.section5 h2 {
    grid-column: span 6;
    grid-row: 1 / 2;
    font-size: 96px;
    @include flexbox;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);

    @include tablet {
        grid-row: initial;
        grid-column: span 12;
        padding: 80px 0;
        border-right: none;
    }

    @include phone-landscape {
        font-size: 40px;
        line-height: 48px;
    }
}

.section5-2 {
    grid-row: 1 / 2;
    border-right: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.section5-3 {
    grid-row: 1 / 2;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.section5-4 {
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);

    @include tablet {
        border-bottom: 1px solid rgba(255, 255, 255, .25);
    }
}

.section5-5 {
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);

    @include tablet {
        border-bottom: 1px solid rgba(255, 255, 255, .25);
    }
}

.section5-6 {
    grid-row: 2 / 3;
    border-right: 1px solid rgba(255, 255, 255, .25);

    @include phone-landscape {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
    }
}

.section5-7 {
    grid-row: 2 / 3;
}

.section5-title {
    font-size: 24px;
}

.section5-text {
    opacity: .5;
    font-size: 20px;
}