.services {
    height: 1120px;
    background: #272729;
    color: white;
    @include tablet-landscape {
        height: initial;
    }
    &__title {
        grid-column: span 6;
        grid-row: 1 / 2;
        font-size: 96px;
        @include flexbox;
        justify-content: center;
        border-right: 1px solid rgba(255, 255, 255, .25);
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        @include tablet-landscape {
            grid-row: initial;
            grid-column: span 12;
            padding: 80px 0;
            border-right: none;
        }
        @include phone {
            font-size: 40px;
            line-height: 48px;
        }
    }
    &__part {
        grid-column: span 3;
        padding: 80px;
        height: 560px;
        @include tablet-landscape {
            grid-column: span 6;
        }
        &:first-child {
            border-right: 1px solid rgba(255, 255, 255, .25);
            border-bottom: 1px solid rgba(255, 255, 255, .25);
        }
        &:nth-child(2) {
            border-right: 1px solid rgba(255, 255, 255, .25);
            border-bottom: 1px solid rgba(255, 255, 255, .25);
            @include phone {
                border-right: none;
            }
        }
        &:nth-child(3) {
            border-bottom: 1px solid rgba(255, 255, 255, .25);
        }
        &:nth-child(4) {
            border-right: 1px solid rgba(255, 255, 255, .25);
            @include tablet-landscape {
                border-bottom: 1px solid rgba(255, 255, 255, .25);
            }
            @include phone {
                border-right: none;
            }
        }
        &:nth-child(5) {
            border-right: 1px solid rgba(255, 255, 255, .25);
            @include tablet-landscape {
                border-right: none;
                border-bottom: 1px solid rgba(255, 255, 255, .25);
            }
        }
        &:nth-child(6) {
            border-right: 1px solid rgba(255, 255, 255, .25);
            @include phone {
                border-right: none;
                border-bottom: 1px solid rgba(255, 255, 255, .25);
            }
        }
        &:nth-child(7) {
            @include phone {
                border-bottom: none;
            }
        }
        @include tablet-landscape {
            grid-column: span 6;
            grid-row: initial;
            height: initial;
        }
        @include phone {
            grid-column: span 12;
            border-right: none;
        }
    }
    &__subtitle {
        font-size: 24px;
    }
    &__text {
        opacity: .5;
        font-size: 20px;
    }
}
.g_section5 .g_section5-2, .g_section5 .g_section5-3, .g_section5 .g_section5-4, .g_section5 .g_section5-5, .g_section5 .g_section5-6, .g_section5 .g_section5-7 {
    padding: 80px;
    display: flex;
    flex-direction: column;
    height: 560px;
}