.services {
    min-height: 1120px;
    background: var(--bg-color2);
    color: white;
    @include tablet {
        height: initial;
    }
    &__title {
        grid-column: span 6;
        grid-row: 1 / 2;
        font-size: 96px;
        @include flexbox;
        justify-content: center;
        border-right: $border;
        border-bottom: $border;
        @include desktop {
            grid-column: span 12;
            padding: 80px;
        }
        @include phone-landscape {
            font-size: 40px;
            line-height: 48px;
            border-left: none;
        }
    }
    &__part {
        grid-column: span 3;
        padding: 80px;
        height: 560px;
        @include desktop {
            grid-column: span 6;
        }
        @include phone-landscape {
            grid-column: span 12;
            border-right: none;
        }
        &:first-child {
            border-right: $border;
            border-bottom: $border;
        }
        &:nth-child(2) {
            border-right: $border;
            border-bottom: $border;
            @include desktop {border-left: $border;}
            @include phone-landscape {
                border-left: none;
                border-right: none;
            }
        }
        &:nth-child(3) {
            border-bottom: $border;
            border-right: $border;
        }
        &:nth-child(4) {
            border-right: $border;
            border-left: $border;
            @include desktop {border-bottom: $border;}
            @include phone-landscape {
                border-left: none;
                border-right: none;
            }
        }
        &:nth-child(5) {
            border-right: $border;
            @include desktop {border-bottom: $border;}
        }
        &:nth-child(6) {
            border-right: $border;
            @include desktop {border-left: $border;}
            @include phone-landscape {
                border-left: none;
                border-right: none;
                border-bottom: $border;
            }
        }
        &:nth-child(7) {
            border-right: $border;
            @include phone-landscape {border-bottom: none;}
        }
    }
    &__subtitle {
        font-size: 24px;
    }
    &__text {
        opacity: .5;
        font-size: 20px;
    }
}
.section5 .section5-2, .section5 .section5-3, .section5 .section5-4, .section5 .section5-5, .section5 .section5-6, .section5 .section5-7 {
    padding: 80px;
    display: flex;
    flex-direction: column;
    height: 560px;
}