
.c-theme {
	width: 48px;
	height: 48px;
	cursor: pointer;
	display: flex;
    justify-content: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: #4E4E4E;
	border: none;
	border-radius: 50%;
	transition: all 120ms ease-out;
    margin-right: 16px;
    background: none;
	&:hover, &:focus {
		background: #f3f3f3;
	}
	&:focus {
		outline: none;
	}
	&__grid {
		position: relative;
		transition: all 240ms ease-out;
	}
	svg {
		width: 24px;
		height: 24px;
        margin-bottom: 12px;
        &:last-child {margin-bottom: 0;}
		&:focus {
			outline: none;
		}
	}
}
.c-theme-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.6rem;
}
.c-box {
	display: flex;
	width: 100%;
	flex-direction: column;
	background: var(--bg);
	color: var(--text-secondary);
	position: relative;
	padding: 1.6rem;
	border-radius: 1.2rem;
	border: 1px solid var(--border);
	user-select: none;
	cursor: pointer;
	transition: all 120ms ease-out;
	&:hover, &:focus {
		transform: scale(1.03);
	}
	&__title {
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__icon {
		width: 1.6rem;
		height: 1.6rem;
		margin-right: 0.4rem;
	}
	&__swatches {
		display: flex;
		flex-wrap: wrap;
		margin-top: .8rem;
	}
	&--active {
		outline: 4px solid var(--primary);
		&:after {
			content: '✓';
			position: absolute;
			top: -1.2rem;
			right: -1.2rem;
			height: 2.4rem;
			width: 2.4rem;
			background: var(--primary);
			border-radius: 999px;
			color: var(--text-inverse);
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

