.webinar {
    &__header {
        height: 88px;
        border-bottom: 1px solid #DBDBDB;
        padding: 24px 32px;
        @include flexbox;
        justify-content: space-between;
        @include phone-landscape {
            padding: 16px;
            height: initial;
        }
    }
    &__logo {
        margin-right: 80px;
        @include phone-landscape {
            height: 24px;
            margin-right: 24px;
        }
    }
    &__headerLeft {
        @include flexbox;
    }
    &__link {
        color: #7B7B7B;
        font-size: 18px;
    }
    &__joinUs {
        height: 48px;
        border: 1px solid #EA212E;
        color: #EA212E;
        border-radius: 8px;
        text-align: center;
        padding: 0 24px;
        @include flexbox;
        transition: .8s;
        &:hover {
            border-color: #C80028;
            color: #C80028
        }
        @include phone-landscape {
            height: 32px;
            padding: 0 16px;
            font-size: 14px;
        }
    }
    &__body {
        padding: 80px 224px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
        @include tablet {
            padding: 32px;
        }
        @include phone-landscape {
            padding: 24px;
        }
    }
    &__content {
        grid-column: 1/7;
        @include tablet {
            grid-column: span 12;
        }
    }
    &__form {
        grid-column: 9 / 13;
        @include tablet {
            grid-column: span 12;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        color: #7B7B7B;
        margin-bottom: 16px;
        letter-spacing: 6px;
        @include phone-landscape {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    &__title {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 32px;
        line-height: 56px;
        @include phone-landscape {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 16px;
        }
    }
    &__date {
        font-size: 24px;
        margin-bottom: 16px;
        @include phone-landscape {
            font-size: 16px;
        }
    }
    &__text {
        color: #7B7B7B;
    }
    &__list {
        color: #7B7B7B;
    }
    &__form {
        border: 1px solid #DBDBDB;
        padding: 32px;
        height: fit-content;
        @include phone-landscape {
            padding: 24px;
        }
    }
    &__formTitle {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 32px;
    }
    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        padding: 0 16px;
        margin-bottom: 16px;
    }
    &__submit {
        height: 48px;
        background: #EA212E;
        color: white;
        width: 100%;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: .8s;
        &:hover {
            background: #C80028;
        }
    }
    &__title2 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 32px;
        grid-column: 4/10;
        text-align: center;
        @include desktop {
            grid-column: 3/11;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 16px;
        }
        @include phone-landscape {
            grid-column: span 12;
        }

    }
    &__text2 {
        color: #7B7B7B;
        grid-column: 5/9;
        text-align: center;
        @include desktop {
            grid-column: 3/11;
        }
        @include phone-landscape {
            grid-column: span 12;
        }
    }
    &__linkText {
        color: #EA212E;
        transition: .8s;
        &:hover {
            text-decoration: underline;
            color: #C80028;
        }
    }
}

#formError, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
}
#contactForm {
    input:focus {
        border-color: #aaaaaa;
        outline: 0 none;
    }
}
.adjust {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}